@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.card {
    @include size(410px, 572px);
    @include indents(24px, 0);
    box-sizing: border-box;
    box-shadow: $m-box-shadow;
    background-color: white;
    border-radius: $xxl-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar{
  @include position(relative);
  @include size(88px, 88px);
  @include indents((0 0 12px 0), 0);
}

.editButton{
  @include position(absolute);
  bottom: 10px;
  right: -4px;
}

.more{
  @include indents;
  @include size(24px, 24px);
  @include position(relative);
  background: none;
  border: 0;

  &__Button {
    @include size(24px, 24px);
    // @include position(relative);
    cursor: $cursor;
    border: none;
    cursor: pointer;
    background: none;
    background-image: url('../../images/icon/24x24/common/more.svg');
  }
}

.wrapper{
  display: flex;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons{
  display: flex;
  justify-content: end;
  gap: 12px;
}