@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button{
    @include button-style-reset;
    width: 24;
    height: 20;
    background-color: white;
    font-weight: $bold;
    font-size: $s-font-size;
    color: $primary-persian-blue-default;
  }

.button:disabled {
  color: $grey-1;
}