@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.card {
  @include size(296px, 172px);
  @include flex(column, flex-start);
  background-color: $off-white;
  border-radius: $xxl-border-radius;
  box-shadow: 0 12px 24px rgba(21, 18, 51, 0.13);
  position: relative;
  @media (max-width: $switching-width) {
    @include size(235px, 177px);
  }
}

.icon {
  @include size(52px, 52px);
  margin: 24px 0 0 32px;
}

.more_button {
  @include size(24px, 24px);
  position: absolute;
  top: 32px;
  left: 256px;
  cursor: pointer;
  background-image: url('../../images/icon/24x24/common/more.svg');

  @media (max-width: $switching-width) {
    left: 195px;
  }
}

// .more_box {
//   display: none;
// }

// .more_box__active {
//   display: inline;
//   background-color: white;
//   border: 1px solid black;
//   position: absolute;
//   left: 185px;
//   width: 150px;
//   top: 65px;
// }

.name_box {
  @include flex($align-items: center);
  height: 56px;
  margin: 24px 0 0 32px;
  max-width: 170px;
}

.name {
  @include font('IBM Plex Mono', $m-font-size, $bold);
  @include line-sizes($m-line-height, $l-letter-space);
  @include ellipsis;
  margin: 0;
}

.more_button {
  @include size(24px, 24px);
  background-image: url('../../images/icon/24x24/common/more.svg');
}
