@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.card {
  @include size(296px, 172px);
  box-sizing: border-box;
  padding: 24px 32px 16px;
  background-color: $off-white;
  border-radius: $xxl-border-radius;
  box-shadow: $l-box-shadow;
  position: relative;
  @media (max-width: $switching-width) {
    @include size(235px, 177px);
  }
}

.wrapper {
  @include flex(column, space-between);
  height: 100%;

  &:hover {
    cursor: $cursor;
  }
}

.icon {
  @include size(52px, 52px);
}

.more_button {
  @include size(24px, 24px);
  @include position(absolute, 32px, $left: 256px);
  cursor: $cursor;
  background-image: url('../../images/icon/24x24/common/more.svg');

  @media (max-width: $switching-width) {
    left: 195px;
  }
}

.name_box {
  @include flex($align-items: center);
  margin-top: auto;
  height: 56px;
  max-width: 100%;
}

.name {
  @include ellipsis;
}

.more_button {
  @include size(24px, 24px);
  background-image: url('../../images/icon/24x24/common/more.svg');
}
