@import '../../app/_vars';

.container {
  display: flex;
  flex-direction: column;
  max-width: 331px;
  // height: 135px;
  background-color: $white-color;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #D7DEEA;
  align-items: center;
  justify-content: space-between;
}

@mixin font {
  font-family: 'OpenSans', sans-serif;
  font-weight: $normal;
  font-size: $s-font-size;
  line-height: $s-line-height;
  letter-spacing: $lx-letter-space;
  margin: 0;
  white-space: nowrap;
  color: $primary-text-color;
}

.text {
  @include font;
  // width: fit-content;
}


.title{
  font-weight: $bold;
}