@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.information {
  @include position(relative);
  @include indents(0 0 0 40px, 0);
  margin: 32px 0 0 0;
  box-sizing: border-box;

  @media screen and (max-width: 860px) {
    @include max-size(100%, unset);
    @include indents(32px 32px 0 0 , 32px auto 0);
    @include flex(row, center, unset, unset);
  }

  &__container {
    @include max-size(331px, unset);
    @include flex(column, unset, center, unset);
    background-color: $off-white;
    box-sizing: border-box;
    padding-top: 40px;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: $normal;
    padding-bottom: 20px;
    color: $grey-3;
  }

  &__title {
    color: $primary-oxford-blue-default;
    padding-top: $m-font-size;
    padding-bottom: 4px;
    font-size: $m-font-size;
    line-height: $m-line-height;
    white-space: nowrap;
  }

  &__wrapper {
    @include flex(column, unset, unset, 8px);
    padding-top: 32px;
  }

  &__header {
    @include position(absolute, 0, unset, unset, 0);
    @include size(100%, unset);
    @include indents(0 20px, 0);
    @include flex(row, space-between, center);
    box-sizing: border-box;

    @media screen and (max-width: 860px) {
      @include size(calc(100% - 20px), unset);
    }
  }

  &__chevron {
    @include button-style-reset;
  }
}
