@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.container {
  height: 872px;
  box-sizing: border-box;
  border-left: 1px solid #d7deea;
  align-items: center;
  position: relative;
}

.information {
  max-width: 331px;
  display: flex;
  flex-direction: column;
  background-color: $off-white;
  box-sizing: border-box;
  padding-top: 40px;
  align-items: center;
}


.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: $normal;
  padding-bottom: 20px;
  color: $grey-3;
}

.title {
  color: $primary-oxford-blue-default;
  padding-top: $m-font-size;
  padding-bottom: 4px;
  font-size: $m-font-size;
  line-height: $m-line-height;
  white-space: nowrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
}

@media (max-width: ($min-content-width + 200px)) {

  .information {
    max-width: 360px;
  }
}