@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;


.container {
  padding: 32px 40px 80px 0;
  @media screen and (max-width: $switching-width) {
    padding: 20px;
  }
}

.header {
  @include flex(row, space-between);
    width: 100%;
    padding-bottom: 40px;

  @media screen and (max-width: $switching-width) {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 26px;
  }
}

.wrapper { // только для ширины кнопки
  width: 188px;
}

.statistics  {
  @include flex(column, $gap: 40px);
}
