@import '../../components/app/vars';


.layout{
max-width: $max-content-width;
margin: 0 auto;
min-height: 100vh;
display: grid;
grid-template-columns: auto 1fr;
grid-template-rows: auto  1fr auto;
box-sizing: border-box;
padding-left: 16px;
// column-gap: 40px;
position: relative;
background-color: $white-color;

@media (max-width: ($min-content-width + 200px)) {
  padding: 0;
}
}

.page{
    // START GRID LAYOUT
    grid-column: 2 / 3;
    grid-row: 2;
    // END GRID LAYOUT
    // align-self: start;
    overflow-x: hidden;

    @media (max-width:( $min-content-width + 200px)) {
      grid-column: 1 / -1;
    }
}
