@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.layout {
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(0, 120px) minmax($min-content-width, auto);
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  padding-left: 16px;
  position: relative;
  background-color: $off-white;

  @media (max-width: $switching-width) {
    padding: 0;
  }
}

.page {
  grid-column: 2 / 3;
  grid-row: 2;

  max-width: $max-content-width;
  margin: 0 auto;
  width: 100%;

  @media (max-width: $switching-width) {
    grid-column: 1 / -1;
  }
}
