@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.box {
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 264px;
  box-shadow: $m-box-shadow;
  background-color: white;
  border-radius: $l-border-radius;
  position: absolute;
}

.active {
  display: flex;
}

.button {
  @include size(100%, 37px);
  @include font('Open Sans', $xs-font-size, $normal);
  @include line-sizes($xl-line-height, $m-letter-space);

  background-color: white;
  box-sizing: border-box;
  padding: 0 0 0 16px;
  text-align: left;
  border: none;
  cursor: pointer;
  position: relative;
}
.button:hover {
  background-color: $secondary-cultured-default;
}

.icon {
  @include size(20px, 20px);
  top: 9px;
  right: 16px;
  position: absolute;
  filter: invert(21%) sepia(67%) saturate(5310%) hue-rotate(232deg)
    brightness(75%) contrast(93%);
}
