@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.box {
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 264px;
  box-shadow: 0 6px 16px 0 rgba(21, 18, 51, 0.08);
  background-color: white;
  border-radius: $l-border-radius;
  position: absolute;
}

.active {
  display: flex;
}

.button {
  height: 37px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 16px;
  text-align: left;
  border: none;
  font-size: 13px;
  font-weight: $normal;
  line-height: 19.5px;
  font-family: 'Open Sans';
  letter-spacing: 0.3px;
  cursor: pointer;
  position: relative;
}
.button:hover {
  background-color: $secondary-cultured-default;
}

.icon {
  width: 20px;
  height: 20px;
  top: 9px;
  right: 16px;
  position: absolute;
  filter: invert(21%) sepia(67%) saturate(5310%) hue-rotate(232deg)
    brightness(75%) contrast(93%);
}
