@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.panel {
  display: grid;
  box-sizing: border-box;
  max-width: 612px;
  width: 100%;
  min-width: 320px;
  padding: 12px;
  border-radius: $l-border-radius;
  background-color: $off-white;
  z-index: 999;
  grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
}
