@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.form {
  @include flex(column);
  box-sizing: border-box;
  max-width: 728px;
  background-color: $off-white;
  padding: 40px 40px 32px;
  border-radius: 30px;

  @media screen and (max-width: $switching-width) {
    width: 100vw;
  }
}

.content {
  @include flex($gap: 40px);
  row-gap: 24px;
  padding-top: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.buttons {
  @include flex($gap: 12px);
  width: 305px;
  padding-top: 40px;
  align-self: flex-end;
}

.input {
  width: calc((100% - 40px) / 2);
  max-width: 304px;
  min-width: 200px;
  border-bottom: 1px solid $secondary-cultured-focus;

  @media screen and (max-width: $switching-width) {
    width: 100%;
  }
}

.label {
  @include font('Open Sans', $xs-font-size, $normal, $primary-oxford-blue-default);
  @include line-sizes($xl-line-height, $m-letter-space);
}

.button {
  @include button-style-reset;
  @include font('Open Sans', $s-font-size, $bold, $grey-4);
  @include line-sizes($m-line-height, $xxl-letter-space);
  min-width: 118px;
  transition: opacity .2s linear;

  &:hover {
    opacity: .5;
  }
}
