@use '../../../../../stylesheets/variables' as *;
@use '../../../../../stylesheets/mixins' as *;

.hiddent-form{
  @include font('Open Sans', $xs-font-size, $bold);
  @include line-sizes($xl-line-height, $m-letter-space);
  @include flex(row, space-between, center);
  padding-bottom: 8px;


  input {
    @include size(6px, 6px);
    border: 0;
    background: none;
    border-radius: $border-radius-circle;
    vertical-align: middle;
    outline: 1.5px solid $grey-1;
    outline-offset: 5.33px;
    appearance: none;
    -webkit-appearance: none;
    cursor: $cursor;

    &:checked {
      background-color: $primary-persian-blue-default;
    }

    @media screen and (max-width: $switching-width) {
      @include size(3.42px, 3.42px);
      outline-offset: 3.04px;
    }
  }

  @media screen and (max-width: $switching-width) {
    font-size: 7.41px;
    justify-content: center;
  }
}

.hidden-content {
  @include flex(column, false, false, 8px);

  @media screen and (max-width: $switching-width) {
    gap: 4px
  }
}

.label {
  margin: 0;
}
