@use '../../../../stylesheets//variables' as *;
@use '../../../../stylesheets/mixins' as *;

.container {
  @include flex(column);
  border-radius: $l-border-radius;
  max-width: 296px;
  box-shadow: $m-box-shadow;

  @media screen and (max-width: 520px) {
    max-width: 168px;
  }
}

.header {
  @include indents(12px 0px 0px 16px, 0);
  @include font('Open Sans', $xs-font-size, $bold);

  @media screen and (max-width: 520px) {
    padding: 9px 0px 0px 7px;
  }
}

.content {
  @include flex(column, false, false, 12px);
  width: calc(100% - 2*16px);
  margin: 12px auto 20px auto;

  @media screen and (max-width: 520px) {
    width: calc(100% - 2*7px);
    margin: 9px auto 9px auto;
  }
}

.grid {
  @include flex(column, false, false, 8px);
}

.grid:first-child {
  border-bottom: 1px solid $secondary-cultured-focus;
  padding-bottom: 12px;
}

.griditem {
  @include size(100%, 44px);
  margin: auto;
  display: flex;
}

.inputs {
  @include flex(row, false, false, 4px);
  @include indents(0, auto);
  width: 100%;
}

.input {
  padding: 20px;
}
