.container {
  // font-family: 'IBM Plex Mono';
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  max-width: 296px;

  box-shadow: 0px 6px 16px 0px rgba(21, 18, 51, 0.08);

  @media screen and (max-width: 520px) {
    max-width: 168px;
  }
}

.header {
  font-size: 13px;
  font-weight: 600;
  margin: 0px;
  padding: 12px 0px 0px 16px;

  @media screen and (max-width: 520px) {
    padding: 9px 0px 0px 7px;
  }
}

.content {
  width: calc(100% - 2*16px);
  margin: 12px auto 20px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (max-width: 520px) {
    width: calc(100% - 2*7px);
    margin: 9px auto 9px auto;
  }
}

.grid {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.grid:first-child {
  border-bottom: 1px solid #E4E9F1;
  padding-bottom: 12px;
}

.griditem {
  height: 44px;
  width: 100%;
  margin: auto;
  display: flex;
}

.inputs {
  display: flex;
  gap: 4px;
  width: 100%;
  margin: auto;
  padding: 0px;
}

.input {
  padding: 20px;
}