@import '../../app/vars';

.popup {
  box-sizing: border-box;
  width: 135px;
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  box-shadow: 0px 6px 16px 0px #15123314;

  &__button {
    border: none;
    background: transparent;
  }

  &__text {
    font-size: $xxs-font-size;
    font-weight: $normal;
  }
}
