@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button {
  @include indents(12px 12px 12px 17px, 0);
  @include size(60px, 48px);
  box-sizing: border-box;
  background-color: $off-white;
  border: none;
  border-radius: $s-border-radius;
  cursor: $cursor;
  z-index: 100;
}
