@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

@mixin buttonStyles {
  @include button-style-reset();
  @include size(188px, 65px);
  @include indents(20px 50px, 0);
  border-radius: $l-border-radius;

  @media screen and (max-width: 860px) {
    @include size(130px, 48px);
    @include indents(14.5px 42px, 0);
  }
}

@mixin defaultFontStyles {
  line-height: $m-line-height;
  letter-spacing: $xxl-letter-space;
  text-align: center;
  text-transform: uppercase;
}

.form {
  @include size(100%, unset);
  @include indents(32px 32px 0 32px, 0);
  border-radius: $xxl-border-radius;
  background-color: $off-white;
  box-shadow: 0px 6px 16px 0px #15123321;
  box-sizing: border-box;
  overflow-x: hidden;

  @media screen and (max-width: 860px) {
    @include indents(24px 24px 0 24px, 0);
  }

  &__breadcrumbs {
    padding: 0 0 40px;
  }

  &__formFieldset {
    @include flex(row, space-between, flex-start, 24px);
    @include size(100%, unset);
    @include indents(0 0 32px 0, 0);
    flex-wrap: wrap;
    min-width: 0;
    border: none;
  }

  &__legend {
    @include indents(0, 0);
    @include font('IBM Plex Mono', $m-font-size, $semi-bold, $primary-oxford-blue-default);
    line-height: $m-line-height;
    margin-bottom: 16px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__inputWrapper {
    @include indents();
    @include max-size(556px, 65px);
    flex-basis: 300px;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
  }

  &__checkboxes {
    @include flex(column, center, flex-start, 8px);
    width: 100%
  }

  &__popupWrapper {
    @include flex(row, space-between, center);
    @include indents(8px, 0);
    @include size(100%, 40px);
    box-sizing: border-box;
    background-color: $secondary-cultured-default;
    border-radius: $s-border-radius;
    cursor: pointer;
  }

  &__menuVariableWrapper {
    @include min-size(264px, unset);
  }

  &__textField {
    width: 264px;
  }
}

.container {
  @include max-size(924px, unset);
  @include size(100%, fit-content);
  min-width: 320px;
  background-color: $secondary-cultured-hover;
  border-radius: $xxl-border-radius;

  &__buttons {
    @include size(100%, unset);
    @include indents(32px, 0);
    @include flex(row, flex-end, center, 0);
    border-radius: 0 0 $xxl-border-radius $xxl-border-radius;
    box-sizing: border-box;

    @media screen and (max-width: 820px) {
      justify-content: center;
    }
  }


  &__commonButton {
    @include buttonStyles;
  }

  &__greenButton {
    @include buttonStyles;
    background-color: $primary-medium-spring-green-disabled;
  }

  &__greenActiveButton {
    @include buttonStyles();
    background-color: $primary-medium-spring-green-default;
  }

  &__blackText {
    @include font('IBM Plex Mono', $l-font-size, $bold, $primary-oxford-blue-default);
    @include defaultFontStyles();

    @media screen and (max-width: 860px) {
      @include font('IBM Plex Mono', $s-font-size, $bold, $primary-oxford-blue-default);
      @include line-sizes(18.76px, $xxl-letter-space)
    }
  }

  &__buttonText {
    @include font('IBM Plex Mono', $l-font-size, $bold, $grey-4);
    @include defaultFontStyles();

    @media screen and (max-width: 860px) {
      @include font('IBM Plex Mono', $s-font-size, $bold, $grey-4);
      @include line-sizes(18.76px, $xxl-letter-space)
    }
  }
}
