@import '../../app/vars';

.wrapper{
  max-width: 100%;
  margin-bottom: 10px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header__text{
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.2px;
  margin: 0;

  @media (max-width: $switching-width) {
    font-size: 24px;
    line-height: 31px;
  }
}

.header__button{
  @extend %button-style-reset;
  display: block;
  margin-right: 20px;

  color:  #8392AB;
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 150%; /* 19.5px */
  letter-spacing: 0.3px;
}

.list{
  max-width: 100%;
  list-style: none;
  gap: 28px;
  margin: 0;
  padding: 0;
  transition: height 1s;
  display: grid;
  grid-template-columns: repeat(auto-fit, 296px);

  @media (max-width: $switching-width) {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 235px);
  }
}

.list_hidden{
  overflow-x: hidden;
  grid-auto-flow: column;
}

.item{
  min-height: 195px;
  position: relative;
  // @media (max-width: $switching-width) {
  //   gap: 20px;
  //   grid-template-columns: repeat(auto-fit, 235px);
  // }
}

.buttonAddbot{
  width: 296px;
  height: 172px;
  @media (max-width: $switching-width) {
    width: 235px;
    height: 177px;
  }

}
