@import '../../app/vars';

.wrapper{
  max-width: 1268px;
}

.header{
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: -0.2px;
  margin-top: 0;
  margin-bottom: 23px;

  @media (max-width: $min-content-width) {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 25px;
  }
}

.list{
  width: 100%;
  list-style: none;
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  @media (max-width: $min-content-width) {
    gap: 20px;
  }
}

.buttonAddbot{
  width: 296px;
  height: 172px;
}
