@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

@mixin content {
  margin: 0 28px;
  min-width: 296px;


  @media screen and (max-width: $switching-width) {
    margin: 0 auto;
  }
}

.wrap {
  @include flex(column, false, false, 32px);
  padding: 24px 0;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: $off-white;
  z-index: 100;
  transition: all .3s linear;
  box-shadow: $m-box-shadow;

  .header {
    @include flex(row, space-between, center);
    @include content;
    h2 {
      margin: 0;
      @media screen and (max-width: $switching-width) {
        font-weight: 600;
      }
    }

    .img {
      @media screen and (max-width: $switching-width) {
        align-self: center;
        background-image: url("../../../images/icon/24x24/common/tag.svg");
        width: 20px;
        height: 20px;
        background-size: contain;
        margin-right: 16px;
      }
    }

    .box{
      display: flex;
      flex-direction: row;
    }
  }

  .triggers {
    @include flex(column, false, false, 8px);
    @include content;
  }

  @media screen and (max-width: $switching-width) {
    @include position(fixed, 0, 0);
    height: 100vh;
    padding: 40px 0;
    transition: none;
  }
}

.close {
  @include size(24px, 24px);
  cursor: $cursor;
}

.opened {
  width: 364px;

  @media screen and (max-width: $switching-width) {
    width: 100vw;
  }
}

.closed {
  width: 0;
}
