@import '../../components/app/vars';

.partnershipLayout {
  margin-top: 32px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $default-grey-color;
  border-radius: $border-radius-30;
}

.tableContainer {
  width: 100%;
}
