{
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"proseWrap": "preserve",
	"requirePragma": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": false,
  "bracketSameLine": false,
  "endOfLine": "auto"
}
