.container {
  position: relative;
  width: 25px;
  height: 29px;
  cursor: pointer;
}

.text {
  position: absolute;
  top: -11px;
  right: 4px;
  font-size: 10px;
  line-height: 15px;
  color: rgba(255, 255, 255, 1);

}


