@use '../../../../../stylesheets/variables' as *;
@use '../../../../../stylesheets/mixins' as *;

.overlay {
  @include size(264px, 64px);
  @include font('Open Sans', inherit, inherit, $secondary-cultured-default);
  @include indents(12px, 0 0 8px);
  @include flex(row, $align-items: center);
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;
  box-sizing: border-box;

  @media screen and (max-width: $switching-width) {
    @include size(150px, 36px);
    @include indents(6px 7px, 0 0 4px);
  }
}

.box {
  @include flex(row, $align-items: center);
  @include size(36px, 40px);
  @include indents(8px 6px, 0 3px 0 4px);
  border-radius: $s-border-radius;
  background-color: $secondary-cultured-hover;
  box-sizing: border-box;

  @media screen and (max-width: $switching-width) {
    @include size(20px, 22px);
    @include indents(5px 3px, 0 2px);
  }
}

.v {
  @include size(95px, 40px);

  @media screen and (max-width: $switching-width) {
    @include size(56px, 24px);

    .svg {
      width: 14px;
      height: 14px;
    }
  }
}

.input {
  width: 102px;
}
