@import '../../app/vars';

.container{
  font-family: 'IBM Plex Mono';
  display: flex;
  flex-direction: column;

  border-radius: $border-radius-10;

  max-width: 296px;
  height: min-content;

  box-shadow: $m-box-shadow;

  @media screen and (max-width: 520px) {
    max-width: 168px;
  }
}

.header{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;

  padding: 13px 16px 16px;

  @media screen and (max-width: 520px) {
    padding: 7px 9px 9px;
  }
}

.type{
 color: $default-dark-grey-color;
 @media screen and (max-width: 520px) {
}
}

.name{
  font-size: $l-font-size;
  line-height: 20px;
  font-weight: $semi-bold;
  color: $primary-text-color;
  outline: 0;
  border: 0;
  @media screen and (max-width: 520px) {
    font-size: 9.12px;
    line-height: 11.86px;
  }
}

.more{
  position: absolute;
  top: 37px;
  right: 13px;
  background: none;
  margin: 0;
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;

  .img{
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: $cursor;
  }

  @media screen and (max-width: 520px) {
    top: 20px;
    right: 5px;
    height: 14px;
    width: 14px;
  }
}

.hr{
  background-color: $hover-grey-color;
  height: 1px;
  width: 100%;
  margin: 0;
  border: 0;
  @media screen and (max-width: 520px) {
    height: .5px;
  }
}
