@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.container {
  @include flex(column);
  border-radius: $l-border-radius;
  width: 296px;
  height: min-content;
  box-shadow: $m-box-shadow;
  background-color: $off-white;

  @media screen and (max-width: $switching-width) {
    width: 168px;
  }
}

.outline {
  outline: 1px solid #85FFD0;
}

.header{
  @include flex(column, false, false, 8px);
  position: relative;
  padding: 13px 16px 16px;

  @media screen and (max-width: $switching-width) {
    padding: 7px 9px 9px;
  }
}

.type {
  @include line-sizes($m-line-height, 0.4px);
  color: $grey-3;
  font-size: 12px;

  @media screen and (max-width: $switching-width) {
    font-size: 6.84px;
    line-height: $m-line-height;
  }
}

.name {
  @include font('IBM Plex Mono', $m-font-size, $semi-bold, $primary-oxford-blue-default);
  @include line-sizes($m-line-height, 0px);
  @include ellipsis;
  padding-right: 20px;
  outline: 0;
  border: 0;
  @media screen and (max-width: $switching-width) {
    padding-right: 10px;
    font-size: 9.12px;
    line-height: $m-line-height;
  }
}

.more {
  @include indents;
  @include size(24px, 24px);
  @include position(absolute, 37px, 13px);
  background: none;
  border: 0;

  .img{
    @include size(100%, 100%);
  }

  &:hover {
    cursor: $cursor;
  }

  @media screen and (max-width: $switching-width) {
    @include size(14px, 14px);
    top: 20px;
    right: 5px;
  }
}

.hr {
  @include size(100%, 1px);
  background-color: $secondary-cultured-hover;
  margin: 0;
  border: 0;
  @media screen and (max-width: $switching-width) {
    height: 0.5px;
  }
}
