@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.message {
  display: flex;
  max-width: 308px;
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;
  min-height: 40px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.input {
  @include font('Open Sans', $xs-font-size, $normal, $primary-oxford-blue-default);
  @include line-sizes($xl-line-height, $m-letter-space);
  width: 100%;
  border-radius: 10px 0 0 10px;
  outline: 0;
  border: 0;
  background-color: $secondary-cultured-default;
  text-indent: 25px;

  &::placeholder {
    color: $grey-3;
    background: url('../../../images/icon/20x20/search.svg') no-repeat;
  }
}

.message_hidden {
  @include flex($gap: 8px);
}

.button {
  background: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.icon {
  stroke: $grey-3;
}
