@import '../../../components/app/vars';

.box {
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 200px;
  box-shadow: 0 12px 24px 0 rgba(21, 18, 51, .08);
  background-color: white;
  border-radius: $border-radius-10;
  position: absolute;
}

.active {
  display: flex;
}

.text {
  font-size: $m-font-size;
  font-weight: $normal;
  line-height: $m-line-height;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-left: 16px;
  color: #000;
}

.button {
  height: 37px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 16px;
  text-align: left;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.button:first-of-type {
  margin-top: 8px;
}
.button:last-of-type {
  margin-bottom: 8px;
}
.button:hover {
  background-color: $default-grey-color;
}

.border_bottom {
  border-bottom: 1px solid $icon-grey-color;
}
