@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.dialog {
  @include flex(column, space-between, center, unset);
  @include position(relative);
  @include size(unset, calc(100% - 32px));
  @include indents(0 32px, 32px 0 0);
  box-sizing: border-box;
  flex: 1;
  border-right: 1px solid #d7deea;

  & * {
    box-sizing: border-box;
  }

  @media screen and (max-width: 860px) {
    @include indents(32px 32px 0 0, 0);
  }

  &__wrapper {
    @include size(100%, unset);
    @include flex(column, unset, center, unset);
  }

  &__header {
    @include flex(row, space-between, center, unset);
    @include position(relative);
    @include size(100%, unset);
    padding: 0 0 16px;
    z-index: 3;

    @media screen and (max-width: 620px) {
      padding: 0 20px 20px;
      @include min-size(unset, 60px);
    }
  }

  &__headerContent {
    @include flex(row, unset, center, 16px);

    @media screen and (max-width: 620px) {
      @include flex(row, space-between, center, 16px);
    }
  }

  &__borderText {
    @include position(relative);
    @include flex(row, center, center, unset);
    @include size(100%, unset);
    @include max-size(unset, 24px);
    color: $grey-3;
    text-align: center;
    overflow: hidden;
    background: transparent;
    z-index: 2;

    @media screen and (max-width: 620px) {
      background: $secondary-cultured-default;
      @include indents(32px, 0);
    }
  }

  &__borderText::before,
  &__borderText::after {
    content: '';
    @include position(absolute, 50%);
    @include size(50%, unset);
    display: block;
    border: .8px $secondary-cultured-press solid;
    transform: translateY(50%);
    z-index: 2;

    @media screen and (max-width: 620px) {
      @include size(30%, unset);
    }
  }

  &__borderText::before {
    left: -10%;

    @media screen and (max-width: 620px) {
      left: 65%;
    }
  }

  &__borderText::after {
    right: -10%;

    @media screen and (max-width: 620px) {
      right: 65%;
    }
  }

  &__nameWrapper {
    @include flex(row, unset, center, 16px);

    @media screen and (max-width: 620px) {
      @include position(absolute, 50%, unset, unset, 50%);
      transform: translate(-50%, -50%);
      flex-direction: column;
      gap: 4px;
      padding-bottom: 16px;
    }
  }

  &__iconsWrapper {
    @include position(relative);
    @include flex(row, space-between, center, 6px);
    z-index: 1;
  }

  &__modal {
    @include position(absolute, 100%, 0);
    z-index: 4;
  }

  &__avatar {
    @include size(40px, 40px);
  }

  &__status {
    font-size: $xxs-font-size;
    line-height: $xs-line-height;
    font-weight: $normal;
    color: $primary-persian-blue-default;
  }

  &__headerButton {
    @include button-style-reset();
    @include indents();
  }

  &__messages {
    @include size(100%, unset);
    @include flex(column, unset, flex-start, 16px);
    margin: 32px 0 20px;
    overflow: scroll;
    flex: 1;

    &::-webkit-scrollbar {
      width: 0;
    }

    @media screen and (max-width: 620px) {
      @include indents(0 20px, 0);
      background: $secondary-cultured-default;
    }
  }

  &__messageInput {
    @include flex(row, space-between, center, 20px);
    @include size(100%, unset);

    @media screen and (max-width: 620px) {
      padding: 16px 20px 0;
      margin-bottom: 32px;
    }
  }

  &__headerInputWrapper {
    @include indents();
    @include size(100%, unset);
    @include max-size(183px, unset);
    box-sizing: border-box;
    border-radius: $l-border-radius;
  }

  &__inputWrapper {
    @include size(100%, unset);
    @include min-size(unset, 48px);
  }

  &__submitButton {
    @include size(40px, 40px);
    @include button-style-reset();
    @include indents();
  }

  &__link {
    text-decoration: none;
  }
}

.noBorder {
  @extend .dialog;
  border: none;
}
