@import '../../components/app/vars';

.dashboard{
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  justify-content: space-between;
  margin-right: 40px;

  @media (max-width: $switching-width) {
    padding-left: 20px;
    margin-right: 0;
  }
}
