@import '../../../components/app/vars';

// .tableWrapper {
//   border-radius: $border-radius-30;
//   box-shadow: 0px 6px 16px 0px #15123314;
// }

.table {
  padding: 0 40px 40px;
  box-sizing: border-box;
  max-height: 220px;
  box-shadow: none;
  border-radius: $border-radius-30;
}

.headContainer {
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tableBody {
  overflow-y: scroll;
}

.heading {
  margin: 0;
  padding: 0;
}

.row {
  border: none;
}

.row:first-child {
  padding: 0;
}

.cell {
  padding: 20px 0 10px;
  border: none;
}
