@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.container {
  @include flex($gap: 28px);
  padding-top: 32px;
  margin-right: 40px;

  &__item {
    @include flex(column, $gap: 32px);

    &:last-of-type {
      flex-grow: 1;
    }
  }

  &__button {
    margin-left: auto;
    width: 188px;
    height: 46px;
  }
}

.subscription {
  @include size(100%, 352px);
  width: 404px;
  position: sticky;
  top: 32px;

  &__header {
    @include size(100%, 228px);
    @include position(absolute, 0, $left: 0);
    @include flex(column);
    box-sizing: border-box;
    background-color: $off-white;
    border-radius: $xxl-border-radius;
    box-shadow: $l-box-shadow;
    overflow: hidden;
    padding: 32px;
    z-index: 1;

    & .payment-info {
      @include flex(row, space-between, flex-end);
      padding-bottom: 24px;
    }

    & .text {
      &_succsess {
        color: $primary-medium-spring-green-default;
      }

      &_failure {
        color: $error-default;
      }
    }

    & .tariff {
      @include flex(row, space-between, flex-end);
    }

    & .settings {
      & p {
        margin: 0;
      }

      & .info {
        @include font('Open Sans', $xs-font-size, $normal, $primary-oxford-blue-default);
        @include line-sizes($xl-line-height, $m-letter-space);
        padding-top: 32px;
      }

      & .card {
        @include flex(row, space-between, flex-end);
        padding-top: 12px;

        & .date {
          @include font('Open Sans', $m-font-size, $semi-bold, $primary-oxford-blue-default);
          @include line-sizes($xl-line-height, $m-letter-space);
        }

        & .mask {
          @include font('Open Sans', $m-font-size, $semi-bold, $grey-2);
          @include line-sizes($xl-line-height, $m-letter-space);
        }
      }

      & .button {
        @include button-style-reset;
        padding-top: 24px;
      }
    }
  }

  &__status {
    justify-self: end;
  }

  &__info {
    padding-bottom: 12px;
  }

  &__button {
    margin-top: 16px;
    grid-area: button;
  }

  &__body {
    @include size(100%, 205px);
    @include flex($gap: 24px);
    @include position(absolute, $right: 0, $bottom: 0);
    box-sizing: border-box;
    border-radius: $xxl-border-radius;
    background-color: $secondary-cultured-hover;
    padding: 113px 32px 32px;
  }

  &__balance {
    @include flex(column, space-between);
    height: min-content;
  }
}

.payment {
  @include flex(column);
  width: 100%;
  box-sizing: border-box;
  background-color: $secondary-cultured-hover;
  border-radius: $xxl-border-radius;
}
