@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.textarea {
  position: relative;
  width: 264px;
  background-color: $secondary-cultured-default;
  border-radius: 12px;
  height: 102px;
  box-sizing: border-box;
  padding: 12px 12px 8px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textarea__input {
  display: block;
  height: 56px;
  background-color: inherit;
  padding: 0;
  z-index: 1;
  resize: none;
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: $xs-font-size;
  font-weight: $normal;
  line-height: 21px;
  text-align: left;
  color: $primary-oxford-blue-default;
}

.textarea__input::placeholder {
  color: $grey-3;
}

.textarea__input:focus {
  outline: none;
}

.textarea__input:focus ~ .textarea__outline {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid $primary-medium-spring-green-default;
  background-color: transparent;
  z-index: 0;
  border-radius: 12px;
}

.textarea__footer {
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  font-size: $xxs-font-size;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #a6b3c9;
  column-gap: 12px;
}

.textarea__counter {
  margin: 0;
  margin-right: auto;
}

.textarea__icon {
  cursor: pointer;
}

.textarea__emojiPicker {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: -38px;
}
