@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

@mixin typography {
  font-family: 'IBM Plex Mono', sans-serif;
  margin: 0;
  color: $primary-oxford-blue-default;
  font-weight: $bold;
  line-height: 130%;
}

.h2 {
  @include typography;
  font-size: 32px;
  letter-spacing: -0.2px;
}

.h3 {
  @include typography;
  font-size: 24px;
}

.h4 {
  @include typography;
  font-size: 18px;
}

.h5 {
  @include typography;
  font-size: 14px;
}

.p {
  @include typography;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.3px;
}

.span {
  @include typography;
  font-size: 13px;
  font-weight: $normal;
  line-height: 150%;
  letter-spacing: 0.3px;
}
