@import '../../components/app/vars';

@mixin Typography {
  margin: 0;
  font-weight: $bold; //600
  color: $primary-text-color; //#060c23
}

@mixin IBM_Typography {
  @include Typography;
  font-family: 'IBM Plex Mono', sans-serif;
}

@mixin h1 {
  @include Typography;
  font-size: $h1-font-size; //48px
  line-height: $h1-line-height; //52.8px
  letter-spacing: $h2-letter-space;
}

@mixin h2 {
  @include Typography;
  font-size: $h2-font-size;
  line-height: $h2-line-height; //41.6px
  letter-spacing: $h2-letter-space; //-0.2px
}

@mixin h3 {
  @include Typography;
  font-size: $h3-font-size;
  line-height: $h3-line-height; //31.2px
  letter-spacing: $h3-letter-space;
}

@mixin h4 {
  @include Typography;
  font-size: $h4-font-size;
  line-height: $h4-line-height; //23.4px
  letter-spacing: $h3-letter-space; //0px
}

@mixin h5 {
  @include Typography;
  font-size: $m-font-size;
  line-height: $h-line-height; //130%
  letter-spacing: $h5-letter-space; //0.5px
}

@mixin p {
  @include Typography;
  font-size: $m-font-size; //14px
  line-height: $p-line-height; //150%
  letter-spacing: $m-letter-space; //0.3px
}

@mixin span {
  @include Typography;
  font-size: $s-font-size; //13px
  font-weight: $normal; //400
  line-height: $p-line-height;
  letter-spacing: $m-letter-space;
}

.primary {
  &_h1 {
    @include h1;
  }

  &_h2 {
    @include h2;
  }

  &_h3 {
    @include h3;
  }

  &_h4 {
    @include h4;
  }

  &_h5 {
    @include h5;
  }

  &_p {
    @include p;
  }

  &_span {
    @include span;
  }
}

.secondary {
  &_h1 {
    @include IBM_Typography;
    @include h1;
  }

  &_h2 {
    @include IBM_Typography;
    @include h2;
  }

  &_h3 {
    @include IBM_Typography;
    @include h3;
  }

  &_h4 {
    @include IBM_Typography;
    @include h4;
  }

  &_h5 {
    @include IBM_Typography;
    @include h5;
  }

  &_p {
    @include IBM_Typography;
    @include p;
  }

  &_span {
    @include IBM_Typography;
    @include span;
  }
}
