@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button {
  @include button-style-reset;
  @include flex(row, center, center);
  transition: all 0.1s linear;
  border-radius: $l-border-radius;
  height: 40px;
  background-color: transparent;
  aspect-ratio: 1 / 1;
}

.button div {
  @include flex(row, center, center);
}

.button svg {
  transition: stroke 0.1s linear;
}

/* Стили цвета кнопки*/

.button svg {
  stroke: $grey-3;
}

.button:hover svg {
  stroke: $primary-persian-blue-default;
}

.button:active {
  background-color: $blue-disabled;
}

.button:active svg {
  stroke: $primary-persian-blue-default;
}

.button:disabled {
  background-color: transparent;
}

.button:disabled svg {
  stroke: $secondary-cultured-press;
}
