@import '../../../components/app/vars';

@mixin input-main($width, $max-width, $padding, $bg-color, $border, $border-radius){
  width: $width;
  max-width: $max-width;
  padding: $padding;
  background-color: $bg-color;
  border: $border;
  border-radius: $border-radius;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin set-font($color, $font-weight, $font-size, $line-height, $letter-spacing){
  color: $color;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin input-pseudo($ph-color, $hph-color, $dp-color, $d-color, $d-opacity){
  &::placeholder{
    color: $ph-color
  }

  &::placeholder:hover{
    color: $hph-color
  }

  &:disabled::placeholder {
    color: $dp-color;
  }

  &:disabled {
    color: $d-color;
    opacity: $d-opacity;
  }
}

@mixin icon-container($right){
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: $right;
  bottom: 0;
}

@mixin eye-icon($src){
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-image: url($src);
  opacity: 1;
}

@mixin input-builder($padding, $bg-color, $font-weight, $ph-color, $hph-color){
  @include input-main(100%, 240px, $padding, $bg-color, 0, 5px);
  @include set-font($primary-text-color, $font-weight, $s-font-size, $s-line-height, $m-letter-space);
  @include input-pseudo($ph-color, $hph-color, $icon-grey-color, $focus-grey-color, 1);

  margin: 0;
  font-family: 'Open Sans', sans-serif;
  outline: 0;
}

.wrapper {
  max-width: 580px;
  position: relative;
}

.inputMain {
  @include input-main(100%, 580px, 22px 24px, $default-grey-color, 1px solid transparent, $border-radius-10);
  @include set-font($primary-text-color, $bold, $m-font-size, $m-line-height, $l-letter-space);
  @include input-pseudo($placeholder-grey-color, $default-dark-grey-color, $focus-grey-color, $focus-grey-color, .5);

  font-family: 'Open Sans', sans-serif;
  outline: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: textfield;

}

.incorrect {
  border: 1px solid $error-red-color;
}

.incorrect_text {
  color: $error-red-color;
  position: absolute;
  font-size: 10px;
  margin-top: 2px;
  text-align: left;
}

.inputSecondary {
  @include input-main(100%, 570px, 16px 50px 17px 0, transparent, none, 0);
  @include set-font($white-color, $normal, $h4-font-size, $button-line-height-150, $lx-letter-space);
  @include input-pseudo($placeholder-grey-color, $default-dark-grey-color, $focus-grey-color, $focus-grey-color, .5);
  margin: 0;
  max-height: 60px;
  border-bottom: 1px solid $white-color;
  box-sizing: border-box;
  outline: 0;
  text-overflow: ellipsis;

  font-family: 'Open Sans', sans-serif;

  -webkit-appearance: none;
  -moz-appearance: textfield;

}

.inputBuilderNum{
  @include input-builder(6px 4px, $default-grey-color, $bold, $default-dark-grey-color, $default-dark-grey-color)
}

 .inputBuilderDefault{
  @include input-builder(10px 8px, $hover-grey-color, $normal, $placeholder-grey-color, $placeholder-grey-color);
}

.iconContainerSecondary {
  @include icon-container(0)
}

.iconContainerMain {
  @include icon-container(5px)
}

.disabled {
  color: $focus-grey-color;
  opacity: 0.5;
}

.required {
  @include set-font($placeholder-grey-color, $normal, $h4-font-size, $button-line-height-150, $lx-letter-space);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.passwordSecondary {
  @include eye-icon('../../../images/icon/24x24/common/eye-off.svg');
}

.passwordMain {
  @include eye-icon('../../../images/icon/24x24/common/eye-off-black.svg');
}

.passwordShow {
  opacity: 0.5;
}

.inputSecondaryIncorrect {
  border: 0;
  border-bottom: 1px solid $error-red-color;

  &::placeholder {
    color: $error-red-color;
  }

  &:hover::placeholder {
    color: $error-red-color;
  }
}

.requiredIncorrect {
  color: $error-red-color;
}

.colorBlue {
  color: $default-blue-color
}
