@import '../../../components/app/vars';

.wrapper {
  max-width: 580px;
  position: relative;
}

.input {
  width: 100%;
  max-width: 580px;
  padding: 22px 24px;

  color: $primary-text-color;
  background-color: $default-grey-color;

  font-family: 'Open Sans', sans-serif;
  font-weight: $bold;
  font-size: $m-font-size;
  line-height: $m-line-height;
  letter-spacing: $l-letter-space;

  border-radius: $border-radius-10;
  border: 1px solid transparent;
  outline: 0;

  box-sizing: border-box;

  &::placeholder {
    color: $placeholder-grey-color;
  }

  &:hover::placeholder {
    color: $default-dark-grey-color;
  }

  &:disabled::placeholder {
    color: $focus-grey-color;
  }

  &:disabled {
    color: $focus-grey-color;
  }
}

.incorrect {
  border: 1px solid $error-red-color;
}

.incorrect_text {
  color: $error-red-color;
  position: absolute;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: $m-letter-space;
  margin: 2px 0 0 0;
  text-align: left;
}

.select {
  display: flex;
  min-width: 180px;
  flex-grow: 1;
  gap: 12px;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: $bold;
  line-height: $s-line-height;
  letter-spacing: $l-letter-space;
  border-radius: $border-radius-50;
  border: 0;
  background-color: $hover-grey-color;
  padding: 8px;
  cursor: pointer;

  box-sizing: border-box;

  transition: .2s linear;

  &:disabled img {
    opacity: .5;
  }
}

.select_item {
  &:hover {
    color: $default-blue-color;
  }
  &:disabled {
    color: $placeholder-grey-color;
  }
}

.selected {
  color: $default-blue-color;
  background-color: $disabled-blue-color;
}

.text {
  font-size: $s-font-size;
  line-height: 20px;
  margin: 0;
}

.select_upload {
  color: $default-dark-grey-color;

  &:hover * {
    transition: .2s linear;
    fill: $default-dark-grey-color;
    color: #6392AB;
  }
}

.upload_img * {
  fill: $disabled-grey-color;
}

.upload_text {
  font-size: $s-font-size;
  line-height: 20px;
  margin: 0;
}

.selects {
  width: 100%;
  max-width: 580px;
  background-color: $default-grey-color;
  border-radius: $border-radius-10;
  padding-right: 4px;
}

.selects_items {
  display: flex;
  padding: 16px 8px 16px 12px;
  gap: 8px;
  flex-wrap: wrap;
  max-height: 146px;
  box-sizing: border-box;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #D7DEEA;
    border-radius: 17px;
  }

  &::-webkit-scrollbar-track {
    margin: 18px 0;
  }
}

.scroll {
  padding: 16px 4px 16px 12px;
}

.selects_button {
  width: 100%;
  background-color: $default-grey-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: $bold;
  font-size: $m-font-size;
  line-height: $m-line-height;
  letter-spacing: $l-letter-space;
  gap: 17px;
  border: 0;
  padding: 16px 12px;
  border-radius: $border-radius-10;
  cursor: pointer;

  transition: .2s linear;

  &:hover * {
    transition: .2s linear;
    fill: $default-dark-grey-color;
    color: #6392AB;
  }

  &:disabled * {
    fill: $disabled-grey-color;
    color: #D7DEEA;
  }
}

.selects_text {
  margin: 0;
  color: $placeholder-grey-color;
}

.image {
  max-width: 36px;
  min-width: 36px;
  max-height: 36px;
  min-height: 36px;
  border-radius: 50%;
}

.message {
  display: flex;
  max-width: 526px;
  min-width: 272px;
  background-color: $default-grey-color;
  border-radius: $border-radius-10;
  min-height: 48px;
}

.message_input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 10px 0 0 10px;
  outline: 0;
  border: 0;
  background-color: $default-grey-color;
  font-family: "Open Sans", sans-serif;
  font-size: $s-font-size;
  font-weight: $normal;
  line-height: 20px;
  letter-spacing: $m-letter-space;
  color: $primary-text-color;

  &::placeholder {
    color: $default-dark-grey-color;
  }
}

.message_hidden {
  display: flex;
  gap: 8px;
}

.message_buttons {
  display: flex;
  gap: 8px;
  padding-right: 16px;
}

.message_button {
  background: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.icon_plus {
  width: 28px;
  transition: .2s linear;

  * {
    fill: $default-dark-grey-color;
  }
}

.icon_plus_rotate {
  transform: rotate(-45deg);
  transition: .2s linear;
}

.icon_clip * {
  stroke: $default-dark-grey-color;
}
