@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button {
  @include button-style-reset;
  @include size(40px, 41px);
  box-sizing: border-box;
  line-height: 0;
  padding: 12px 12px 13px;
  border-radius: $m-border-radius;
  background-color: $blue-disabled;

  &:hover{
    svg {
      filter: brightness(0) saturate(100%) // return to black
      invert(18%) sepia(96%) saturate(2946%) hue-rotate(230deg) brightness(87%) contrast(92%);
    }
  }

  &:disabled {
    background-color: $secondary-cultured-hover;

    svg {
      filter: brightness(0) saturate(100%) // return to black
      invert(31%) sepia(94%) saturate(1213%) hue-rotate(213deg) brightness(91%) contrast(90%);
    }
  }

  svg {
    @include size(16px, 16px);
    filter: invert(16%) sepia(79%) saturate(4843%) hue-rotate(234deg) brightness(77%) contrast(87%);
  }
}
