@import '../../components/app/vars';

.add_bot_page {
  max-width: 1268px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  // margin: 0 auto;
  margin-top: 32px;
  margin-right: 40px;

  @media screen and (max-width: 520px) {
    margin-right: 0;
  }
}

.add_bot_page_container {
  background-color: $secondary-cultured-hover;
  border-radius: $border-radius-30;
  min-width: 320px;

  @media screen and (max-width: 520px) {
    margin: 0 20px;
  }
}

.add_bot_page_works {
  padding: 32px 40px 40px 40px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px 24px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  box-sizing: border-box;
}
