@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.add_bot_page {
  @include flex(column, $gap: 15px);
  max-width: 1268px;
  // margin: 0 auto;
  margin-top: 32px;
  margin-right: 40px;

  @media screen and (max-width: 520px) {
    margin-right: 0;
  }
}

.add_bot_page_container {
  background-color: $secondary-cultured-hover;
  border-radius: $xxl-border-radius;
  min-width: 320px;

  @media screen and (max-width: 520px) {
    margin: 0 20px;
  }
}

.add_bot_page_works {
  @include indents(20px 24px, 0);
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 30px 30px 0 0;
  box-sizing: border-box;
}
