/* Переменные ограничивают ширину контента */
$max-content-width: 1440px;
$min-content-width: 320px;
$switching-width: ($min-content-width + 300px);
/* Переменные основных цветов в приложении*/
$default-grey-color: #f8f9fb;
$hover-grey-color: #f2f4f8;
$focus-grey-color: #e4e9f1;
$disabled-grey-color: #ccd4e0;
$default-dark-grey-color: #a6b3c9;
$placeholder-grey-color: #bfc9d9;
$icon-grey-color: #d7deea;

$default-blue-color: #243cbb;
$hover-blue-color: #435cdb;
$active-blue-color: #2743ce;
$disabled-blue-color: #ecefff;
$persian-blue-focus: #314dd8;

$primary-text-color: #060c23;
$success-color: #00e98f;
$default-green-color: #22ffaa;
$success-color: #00e98f;
$error-red-color: #ff5555;
$white-color: #ffffff;

/* Переменные размеров шрифта */
$xl-h1-font-size: 64px;
$h1-font-size: 48px;
$h2-font-size: 32px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$xl-font-size: 20px;
$l-font-size: 16px;
$m-font-size: 14px;
$s-font-size: 13px;
$xs-font-size: 12px;
$xxs-font-size: 10px;

/* Переменные высоты строки */
$h-line-height: 130%;
$p-line-height: 150%;
$h1-line-height: 52.8px;
$h2-line-height: 41.6px;
$h3-line-height: 31.2px;
$h4-line-height: 23.4px;
$l-line-height: 24px;
$m-line-height: 21px;
$s-line-height: 19.5px;
$xs-line-height: 18px;
$xxs-line-height: 15px;
$button-line-height-150: 150%;
$button-line-height-134: 134%;
$button-line-height-130: 130%;
$button-line-height-110: 110%;

/* Переменные жирности шрифта */
$bold: 600;
$semi-bold: 500;
$normal: 400;

/* Переменные расстояния между буквами */
$h2-letter-space: -0.2px;
$h5-letter-space: 0.5px;
$lx-letter-space: 0.75px;
$l-letter-space: 0.3px; // ??
$m-letter-space: 0.3px;
$s-letter-space: 0.2px;
$button-letter-space: 1px;

/* Переменные радиуса скругления */
$border-radius-185: 185px;
$border-radius-50: 50px;
$border-radius-30: 30px;
$border-radius-15: 15px;
$border-radius-10: 10px;
$border-radius-8: 8px;
$border-radius-5: 5px;
$border-radius-4: 4px;
$border-radius-circle: 50%;

/* Переменные тени элемента */
$l-box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);
$m-box-shadow: 0px 6px 16px 0px rgba(21, 18, 51, 0.08);
$s-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

/* Шаблонныe селекторы
для скрытия блока с текстом объяснения, что это за ссылка */
%screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

%button-style-reset {
  border: none;
  padding: 0;
  background: transparent;

  &:hover {
    cursor: url('../../images/icon/cursor/pointing-hand.svg'), pointer;
  }
}

%flex-element-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Курсор  */
$cursor: url('../../images/icon/cursor/pointing-hand.svg'), pointer;

/* КНОПКИ */
/* Элемент Button */
/* Переменные цветов */
$button-default-grey-color: #e4e9f1;
$button-hover-grey-color: #e4e9f1;
$button-pressed-grey-color: #ecefff;
$button-disabled-grey-color: #f2f4f8;

$button-default-blue-color: #243cbb;
$button-hover-blue-color: #435cdb;
$button-pressed-blue-color: #2743ce;
$button-disabled-blue-color: #ecefff;

$button-default-green-color: #22ffaa;
$button-hover-green-color: #70ffc8;
$button-pressed-green-color: #22ffaa;
$button-disabled-green-color: #85ffd0;

/* Переменные размеров */
$l-button-height: 65px;
$m-button-height: 52px;
$s-button-height: 46px;

$l-button-icon-size: 30px;

$l-button-icon-stroke-width: 3px;
$m-button-icon-stroke-width: 2px;

/* Элемент ButtonIconCopy */
/* Переменные цветов */
$button-icon-copy-default-color: #a6b3c9;
$button-icon-copy-hover-color: #243cbb;
$button-icon-copy-pressed-color: #243cbb;
$button-icon-copy-disabled-color: #d7deea;

$button-icon-copy-pressed-background-color: #ecefff;

/* Переменные размеров */
$button-icon-copy-height: 40px;

/* Элемент ButtonAddBot */
/* Переменные цветов */
$button-add-bot-default-color: #a6b3c9;
$button-add-bot-hover-color: #243cbb;
$button-add-bot-pressed-color: #243cbb;
$button-add-bot-disabled-color: #ccd4e0;

$button-add-bot-default-background-color: #f2f4f8;
$button-add-bot-pressed-background-color: #ecefff;

/* Переменные размеров */
$button-add-bot-height: 172px;

$button-add-bot-icon-size: 46px;

$button-add-bot-border-width: 3px;
$button-add-bot-stroke-width: 2px;

/* Элемент ButtonAddSampleBot */
/* Переменные цветов */
$button-add-sample-bot-default-color: #ccd4e0;
$button-add-sample-bot-hover-color: #243cbb;
$button-add-sample-bot-pressed-color: #435cdb;
$button-add-sample-bot-disabled-color: #ccd4e0;

$button-add-sample-bot-default-background-color: #f2f4f8;

/* Переменные размеров */
$button-add-sample-bot-height: 88px;
$button-add-sample-bot-width: 188px;

$button-add-sample-bot-stroke-width: 2px;

/* Элемент ButtonAddSocial */
/* Переменные цветов */
$button-add-social-default-background-color: #f8f9fb;
$button-add-social-pressed-background-color: transparent;

/* Переменные размеров */
$button-add-social-size: 124px;

$button-add-social-icon-size: 52px;
$button-add-social-icon-size-s: 40px;
$button-add-social-icon-size-xs: 34px;

/* Элемент ConstructorDefaultButton */
/* Переменные цветов */
$constructor-default-button-default-color: #131118;
$constructor-default-button-hover-color: #243cbb;
$constructor-default-button-pressed-color: #243cbb;
$constructor-default-button-disabled-color: #ccd4e0;

$constructor-default-button-default-background-color: #e4e9f1;
$constructor-default-button-pressed-background-color: #ecefff;

/* Переменные размеров */
$constructor-default-button-height: 35px;

/* Элемент ConstructorIconBotton */
/* Переменные цветов */
$constructor-icon-button-default-color: #a6b3c9;
$constructor-icon-button-hover-color: #243cbb;
$constructor-icon-button-pressed-color: #243cbb;
$constructor-icon-button-disabled-color: #ccd4e0;

$constructor-icon-button-default-background-color: #f2f4f8;
$constructor-icon-button-pressed-background-color: #ecefff;

/* Переменные размеров */
$constructor-icon-button-height: 52px;
$constructor-icon-button-width: 56px;

/* Элемент ConstructorAddButton */
/* Переменные цветов */
$constructor-add-button-default-color: #8392ab;
$constructor-add-button-hover-color: #243cbb;
$constructor-add-button-pressed-color: #243cbb;
$constructor-add-button-disabled-color: #d7deea;

$constructor-add-button-default-icon-color: #a6b3c9;
$constructor-add-button-hover-icon-color: #243cbb;
$constructor-add-button-pressed-icon-color: #243cbb;
$constructor-add-button-disabled-icon-color: #ccd4e0;

$constructor-add-button-default-background-color: #f8f9fb;
$constructor-add-button-pressed-background-color: #ecefff;

/* Переменные размеров */
$constructor-add-button-height: 44px;

/* Элемент ConstructorHelperButton */
/* Переменные цветов */
$constructor-helper-button-ask-icon-default-color: #243cbb;
$constructor-helper-button-ask-icon-hover-color: #435cdb;
$constructor-helper-button-ask-icon-pressed-color: #243cbb;

$constructor-helper-button-delete-icon-default-color: #a6b3c9;
$constructor-helper-button-delete-icon-hover-color: #ccd4e0;
$constructor-helper-button-delete-icon-pressed-color: #a6b3c9;

$constructor-helper-button-delete-line-color: #f2f4f8;

/* Переменные размеров */
$constructor-helper-button-height: 40px;
$constructor-helper-button-width: 96px;

/* ADD BOT */
/* Секция HowItWorks */
/* Переменные цветов */
$how-it-works-arrow-icon-default-color: #bfc9d9;
$how-it-works-arrow-icon-hover-color: #d7deea;

/* Переменные размеров */
$how-it-works-arrow-icon-size: 26px;

$how-it-works-arrow-icon-stroke-width: 3px;

/* Partnership Program */
/* Таблица */
/* Переменные цветов */
$partnership-table-chevron-icon-default-color: #000;
$partnership-table-chevron-icon-hover-color: #232323;
/* Переменные размеров */
$partnership-table-chevron-icon-size: 26px;
$partnership-table-chevron-icon-stroke-width: 3px;
