@use '../../../../stylesheets/mixins' as *;
@use '../../../../stylesheets/variables' as *;

.popup {
  @include flex(column, center, flex-start, 16px);
  @include indents(16px, 0);
  @include size(135px, unset);
  background-color: $off-white;
  border-radius: $xl-border-radius;
  box-sizing: border-box;
  box-shadow: 0px 6px 16px 0px #15123314;
  z-index: 3;

  &__button {
    @include button-style-reset();
  }

  &__text {
    font-size: $xxs-font-size;
    font-weight: $normal;
  }
}
