@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.message {
  @include min-size(272px, 48px);
  display: flex;
  max-width: 526px;
  min-width: 272px;
  min-height: 48px;
  box-sizing: border-box;
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;
}

.message_input {
  @include font('Open Sans', $xs-font-size, $normal, $primary-oxford-blue-default);
  @include line-sizes($xl-line-height, $m-letter-space);
  width: 100%;
  margin: 0;
  padding: 14px 16px;
  border-radius: 10px 0 0 10px;
  outline: 0;
  border: 0;
  resize: none;
  overflow: hidden;
  background-color: $secondary-cultured-default;

  &::placeholder {
    color: $grey-3;
  }
}

.message_hidden {
  @include flex($gap: 8px);
}

.message_buttons {
  @include flex($align-items: start, $gap: 8px);
  padding: 14px 16px 0 0;
}

.message_button {
  background: 0;
  border: 0;
  cursor: $cursor;
  padding: 0;
}

.message_button:last-of-type {
  margin-top: -2px;
}
