@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.message {
  display: flex;
  max-width: 526px;
  min-width: 272px;
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;
  min-height: 48px;
}

.message_input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 10px 0 0 10px;
  outline: 0;
  border: 0;
  background-color: $secondary-cultured-default;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: $normal;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: $primary-oxford-blue-default;

  &::placeholder {
    color: $grey-3;
  }
}

.message_hidden {
  display: flex;
  gap: 8px;
}

.message_buttons {
  display: flex;
  gap: 8px;
  padding-right: 16px;
}

.message_button {
  background: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.icon_plus {
  width: 28px;
  transition: 0.2s linear;

  * {
    fill: $grey-3;
  }
}

.icon_plus_rotate {
  transform: rotate(-45deg);
  transition: 0.2s linear;
}

.icon_clip * {
  stroke: $grey-3;
}
