@import '../../../components/app/vars';

.button {
  @extend %button-style-reset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-size: $m-font-size;
  font-weight: $bold;
  letter-spacing: $l-letter-space;
  line-height: $button-line-height-150;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.1s linear;
  flex-direction: column;
  gap: 16px;
  background-color: transparent;
}

.container {
  display: flex;
  //gap: 34px; использую margin: auto;
  border-radius: $border-radius-185;
  height: $button-add-sample-bot-height;
  width: 100%;
  transition: all 0.1s linear;
}

.container div {
  @extend %flex-element-center;
}

.plus_icon {
  margin: auto;
}

.plus_icon svg {
  stroke-width: $button-add-sample-bot-stroke-width;
  transition: all 0.1s linear;
  align-self: center;
}

.template_icon svg {
  height: $button-add-sample-bot-height;
  width: $button-add-sample-bot-height;
  transition: all 0.1s linear;
}

.text {
  text-align: left;
  padding: 0;  
  /* Обрезаем всё за пределами блока */
  /* Позволим тексту уменьшаться по ширине */
  -webkit-line-clamp: 1;
  /* Число отображаемых строк */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Стили цвета кнопки*/

.button {
  color: $primary-text-color;
}

.container {
  background-color: $button-add-sample-bot-default-background-color;
}

.plus_icon svg {
  stroke: $button-add-sample-bot-default-color;
}

.button:hover {
  color: $button-add-sample-bot-hover-color;
}

.button:hover .container {
  background-color: transparent;
  box-shadow: $l-box-shadow;
}

.button:hover .plus_icon svg {
  stroke: $button-add-sample-bot-hover-color;
}

.button:active {
  color: $button-add-sample-bot-pressed-color;
}

.button:active .container {
  background-color: transparent;
  box-shadow: $l-box-shadow;
}

.button:active .plus_icon svg {
  stroke: $button-add-sample-bot-pressed-color;
}

.button:disabled {
  color: $button-add-sample-bot-disabled-color;
}

.button:disabled .container {
  background-color: $button-add-sample-bot-default-background-color;
  box-shadow: none;
}

.button:disabled .plus_icon svg {
  stroke: $button-add-sample-bot-disabled-color;
}

.button:disabled .template_icon svg {
  opacity: 0.5;
}
