@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.popup {
  @include flex(row, right, unset, 0);
  @include size(100%, 100vh);
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  transition: right 0.5s linear;
}

.popup_hidden {
  right: -450px;
  position: fixed;
  top: 0;
  transition: right 0.5s linear;
  height: 100vh;
  z-index: 100;
}

.container {
  @include flex(column, unset, center, 0);
  @include size(364px, 100%);
  padding: 15px 30px 0 30px;
  background-color: $off-white;
  box-shadow: $m-box-shadow;
  flex-direction: column;
  position: relative;
}

.header {
  @include flex(row, space-between, center, 0);
  width: 100%;
}

.wrapper {
  @include flex(row, unset, baseline, 20px);
}
.title {
  @include font('IBM Plex Mono', $xxl-font-size, $bold, $primary-oxford-blue-default);
  line-height: $m-line-height;
  background-color: $off-white;
  margin: 10px 0 20px 0;
}

.tabs {
  @include flex(row);
  cursor: $cursor;
  width: 100%;
  padding-top: 18px;
}

.tab1 {
  @include font('IBM Plex', $m-font-size, $semi-bold, $secondary-cultured-press);
  line-height: $m-line-height;
  transition: all 0.4s linear;
  border-bottom: 2px solid $secondary-cultured-press;
  width: 50%;
  text-align: center;
  padding-bottom: 13px;
}

.tab1_active {
  border-bottom: 2px solid $primary-persian-blue-default;
  color: $primary-persian-blue-default;
}

.tab2 {
  @include font('IBM Plex', $m-font-size, $semi-bold, $secondary-cultured-press);
  line-height: $m-line-height;
  transition: all 0.4s linear;
  border-bottom: 2px solid $secondary-cultured-press;
  width: 50%;
  text-align: center;
  padding-bottom: 13px;
}

.tab2_active {
  border-bottom: 2px solid $primary-persian-blue-default;
  color: $primary-persian-blue-default;
}

.close_btn {
  position: absolute;
  top: 28px;
  right: 35px;
  background-color: $off-white;
  border: none;
}

@media (max-width: ($min-content-width + 200px)) {
  .container {
    @include size(100%, 100vh);
    box-shadow: none;
    padding: 9px 15px 0 15px;
    margin-top: 70px; // важно именно margin-top, а не top=70 (position: fixed) чтобы работало закрытие попапа по onClick
  }

  .tabs {
    padding-top: 7px;
  }
}
