@use '../../../../stylesheets//variables' as *;
@use '../../../../stylesheets/mixins' as *;

@mixin content ($padding, $gap) {
  @include flex(column, false, false, $gap);
  padding: $padding;

  @media screen and (max-width: 520px) {
    gap: 4px
  }
}

.content {
  @include content(12px 16px 16px, 8px);

  @media screen and (max-width: 520px) {
    padding: 7px 9px 8px;
  }
}

.hidden-blocks{
  @include content(16px, 16px);

  @media screen and (max-width: 520px) {
    padding: 8px 9px 9px;
  }
}

.hiddent-form{
  @include font('Open Sans', $xs-font-size, $bold);
  @include line-sizes($xl-line-height, $m-letter-space);
  @include flex(row, space-between, center);
  padding-bottom: 8px;


  input {
    @include size(6px, 6px);
    border: 0;
    background: none;
    border-radius: $border-radius-circle;
    vertical-align: middle;
    outline: 1.5px solid $grey-1;
    outline-offset: 5.33px;
    appearance: none;
    -webkit-appearance: none;
    cursor: $cursor;

    &:checked {
      background-color: $primary-persian-blue-default;
    }

    @media screen and (max-width: 520px) {
      @include size(3.42px, 3.42px);
      outline-offset: 3.04px;
    }
  }

  @media screen and (max-width: 520px) {
    font-size: 7.41px;
  }
}

.hidden-content {
  @include flex(column, false, false, 8px);

  @media screen and (max-width: 520px) {
    gap: 4px
  }
}

.labeled-input {
  @include flex(column, false, false, 4px);

  label {
    @include font('Open Sans', $xxs-font-size, $normal, $grey-3);
    @include line-sizes($xl-line-height, $m-letter-space);
  }
}

.inputs-num{
  @include flex(row, false, false, 7px);
  padding-top: 4px;
}

.split-line{
  @include indents(0, 0);
  @include size(100%, 1px);
  border: 0;
  background-color: $secondary-cultured-hover;

  @media screen and (max-width: 520px) {
    width: 150px;
    align-self: center;
  }
}
