@use '../../../../stylesheets/variables' as *;
@use '../../../../stylesheets/mixins' as *;

@mixin content ($padding, $gap) {
  @include flex(column, false, false, $gap);
  padding: $padding;

  @media screen and (max-width: 520px) {
    gap: 4px
  }
}

.content {
  @include content(12px 16px 16px, 8px);

  @media screen and (max-width: 520px) {
    padding: 7px 9px 8px;
  }
}

.hidden-blocks{
  @include content(16px, 16px);

  @media screen and (max-width: 520px) {
    padding: 8px 9px 9px;
  }
}

.labeled-input {
  @include flex(column, false, false, 4px);

  label {
    @include font('Open Sans', $xxs-font-size, $normal, $grey-3);
    @include line-sizes($xl-line-height, $m-letter-space);

    @media screen and (max-width: 520px) {
      font-size: 6.84px;
    }
  }
}

.inputs-num{
  @include flex(row, false, false, 7px);
  padding-top: 4px;
}

.split-line{
  @include indents(0, 0);
  @include size(100%, 1px);
  border: 0;
  background-color: $secondary-cultured-hover;

  @media screen and (max-width: 520px) {
    width: 150px;
    align-self: center;
  }
}
