@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.layout {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: calc(86px + 46px) minmax(0, auto);
  box-sizing: border-box;
  position: relative;
  background-color: $off-white;
  transition: .3s;

  @media (max-width: $switching-width) {
    width: 100%;
    padding: 0;
  }

  &.sidebar_opened {
    grid-template-columns: calc(224px + 46px) minmax(0, auto);
  }
}

.default {
  display: grid;
  min-height: 100vh;
}

.compact {
  display: block;
  max-height: 100vh;
}

.page {
  grid-column: 2 / 3;
  grid-row: 2;
  margin: 0 auto;
  width: 100%;

  @media (max-width: $switching-width) {
    grid-column: 1 / -1;
  }
}

.limited {
  max-width: $max-content-width;
}
