.container {
  padding: 12px 16px 16px 16px;
}

.overlay {
  border-radius: 10px;
  background-color: #F8F9FB;
  margin-bottom: 8px;
  padding: 12px 12px;
}
.overlay:last-of-type {
  margin-bottom: 0px;
}

.overlay:nth-of-type(3) {
  padding-left: 16px;
}

.overlay:nth-of-type(4) {
  padding-left: 16px;
}

.overlay:nth-of-type(5) {
  padding-left: 16px;
}

.input {
  margin-top: 12px;
  width: 240px;
  height: 40px;
  background-color: #F2F4F8;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

.button {
  width: 118px;
  height: 35px;
  border-radius: 10%;
  background-color: #E4E9F1;
  margin: 0 0 16px 4px;
  border: none;
  box-sizing: border-box;
}

.field {
  margin: 12px 0 12px 0;
  width: 232px;
  height: 44px;
  background-color: #F2F4F8;
  border-radius: 5px;
}

.field:last-of-type {
  margin-bottom: 0;
}

.box {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  height: 39px;
}

.line {
  width: 232px;
  height: 1px;
  background-color: #E4E9F1;
  margin-bottom: 12px;
}
