@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button {
  @include button-style-reset;
  @include flex(row, center, center);
  font-size: 13px;
  font-weight: $bold;
  letter-spacing: 0.3px;
  line-height: 150%;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.1s linear;
  height: 35px;
  width: 100%;
  border-radius: $s-border-radius;
}

/* Стили цвета кнопки*/

.button {
  color: $xiketic-default;
  background-color: $secondary-cultured-focus;
}

.button:hover {
  color: $primary-persian-blue-default;
}

.button:active {
  color: $primary-persian-blue-default;
  background-color: $blue-disabled;
}

.button:disabled {
  color: $grey-1;
  background-color: $secondary-cultured-focus;
}
