@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button {
  @include button-style-reset;
  @include flex(row, center, center);
  @include size(100%, 35px);
  @include font('Open Sans', $xs-font-size, $bold, $xiketic-default);
  @include line-sizes($xl-line-height, $m-letter-space);
  transition: all 0.1s linear;
  border-radius: $s-border-radius;
  background-color: $secondary-cultured-focus;

  &:hover {
    color: $primary-persian-blue-default;
  }

  &:active {
    color: $primary-persian-blue-default;
    background-color: $blue-disabled;
  }

  &:disabled {
    color: $grey-1;
    background-color: $secondary-cultured-focus;
  }
}
