@import '../../../components/app/vars';

.button {
  @extend %button-style-reset;
  @extend %flex-element-center;
  font-size: $s-font-size;
  font-weight: $bold;
  letter-spacing: $m-letter-space;
  line-height: $button-line-height-150;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.1s linear;
  height: $constructor-default-button-height;
  width: 100%;
  border-radius: $border-radius-5;
}

/* Стили цвета кнопки*/

.button {
  color: $constructor-default-button-default-color;
  background-color: $constructor-default-button-default-background-color;
}

.button:hover {
  color: $constructor-default-button-hover-color;
}

.button:active {
  color: $constructor-default-button-pressed-color;
  background-color: $constructor-default-button-pressed-background-color;
}

.button:disabled {
  color: $constructor-default-button-disabled-color;
  background-color: $constructor-default-button-default-background-color;
}
