@use '../../../../../stylesheets/variables' as *;
@use '../../../../../stylesheets/mixins' as *;

@mixin input {
  @include input-style-reset();
  @include ellipsis();
  width: 100%;
  outline: 0;
}

.container {
  position: relative
}

.absolute-wrapper {
  @include position(absolute, -56px, 0, false, false);
}

.button {
  @include font('Open Sans', $xs-font-size, $normal);
  @include flex(column, center, false, 2px);
  @include line-sizes($xl-line-height, $m-letter-space);
  border-radius: $s-border-radius;
  width: 232px;
  min-height: 40px;
  border: 0;
  padding: 8px 12px;
  cursor: $cursor;

  @media screen and (max-width: 520px) {
    width: 136px;
    min-height: 27px;
    padding: 6px 8px;
  }
}

.button-flex-start {
  align-items: flex-start;
}

.button-flex-center {
  align-items: center;
}

.button-name{
  @include input;
  font-size: $xs-font-size;
  line-height: $xl-line-height;
  text-decoration: none;
  @media screen and (max-width: 520px) {
    font-size: 7.48px;
  }
}

.button-str{
  @include input;
  font-size: $xxs-font-size;
  color: $grey-3;
  text-decoration: none;
  line-height: $xl-line-height;

  @media screen and (max-width: 520px) {
    font-size: 6.48px;
  }
}

.text-align-center{
  text-align: center;
}

.text-align-start{
  text-align: start;
}

.button-white {
  @include colored-button($off-white, $off-white, $secondary-cultured-hover, $primary-persian-blue-hover);
}
.button-red {
  @include colored-button($off-white, $example-button-color-red, $example-button-color-red, $primary-persian-blue-hover);
}
.button-green {
  @include colored-button($off-white, $example-button-color-green, $example-button-color-green, $primary-persian-blue-hover);
}
.button-blue {
  @include colored-button($off-white, $example-button-color-blue, $example-button-color-blue, $primary-persian-blue-hover);
}
