@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.container {
  width: 296px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $l-border-radius;
  background-color: $off-white;
  padding: 20px 19px 18px 19px;
  box-shadow: 0px 6px 16px 0px rgba(21, 18, 51, 0.08);

  [class*="MuiFormControl-root-MuiTextField-root"] {
    margin-bottom: 20px;
    width: 100%;
    max-width: 296px;
  }
}

.containerTimeZone {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid $secondary-cultured-hover;
  border-bottom: 1px solid $secondary-cultured-hover;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: $normal;
  line-height: 150%;
  letter-spacing: 0.3px;
  color: $primary-oxford-blue-default;
}

.timeZoneLabel {
  padding-left: 5px;
}

.containerButton {
  margin-top: 18px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 5px;
  background-color: transparent;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: $normal;
  line-height: 150%;
  letter-spacing: 0.3px;
  transition: color 0.4s ease-in-out;
}

.button:hover {
  color: $grey-3;
}

.dataFiled {
  max-height: 40px;
  background-color: $secondary-cultured-default;

  [class*="MuiInputBase-input"] {
    font-size: 13px;
    font-weight: $normal;
    font-style: 'normal';
    line-height: 150%;
    letter-spacing: 0.3px;
    color: $primary-oxford-blue-default;
    padding: 10px 8px 10px 8px;
  }

  [class*="MuiOutlinedInput-notchedOutline"] {
    border: none;
    border-radius: $s-border-radius;
    max-height: 40px;
  }
}

.staticDatePicker {
  margin-bottom: 26px;

  [class*="MuiDateCalendar-root"] {
    width: 100%;
    max-width: 296px;
  }

  [class*="MuiDayCalendar-weekDayLabel"] {
    max-width: 26px;
    box-sizing: content-box;
    height: 100%;
    font-size: 13px;
    font-weight: $normal;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    color: $primary-oxford-blue-default;
    margin: 0;
    padding: 0;
  }

  [class*="MuiDayCalendar-header"] {
    justify-content: space-between;
    margin-bottom: 20px;
  }

  [class*="MuiDayCalendar-slideTransition"] {
    min-height: 200px;
  }

  [class*="MuiDayCalendar-weekContainer"] {
    margin: 0px;
    margin-bottom: 6px;
    justify-content: space-between;
  }

  [class*="MuiPickersDay-today"] {
    border-radius: $xs-border-radius;
  }


  [class*="MuiPickersYear-yearButton"]:hover {
    border-radius: $xs-border-radius;
  }

  [class*="MuiPickersCalendarHeader-root"] {
    padding-left: 5px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    justify-content: space-between;

    [class*="MuiPickersCalendarHeader-switchViewIcon"] {
      display: none;
    }

    [class*="MuiPickersCalendarHeader-label"] {
      font-size: 13px;
      font-weight: $bold;
      font-style: normal;
      line-height: 150%;
      letter-spacing: 0.3px;
      color: $primary-oxford-blue-default;
      text-transform: capitalize;
      margin: 0;
      padding: 0;
    }

    [class*="MuiPickersArrowSwitcher"] {
      padding: 0px;
      color: $grey-3;
    }
  }

  [class*="MuiPickersDay-root"] {
    max-width: 26px;
    max-height: 26px;
    margin: 0px;
    font-size: 13px;
    font-weight: $normal;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    color: $primary-oxford-blue-default;

    &:hover {
      border-radius: 4px;
    }
  }

  [class*="Mui-selected"] {
    border-radius: $xs-border-radius;
    color: $off-white;
  }

  [class*="MuiPickersDay-dayOutsideMonth"] {
    color: $grey-3;
  }

}
