@import '../../app/vars';

%typography-header {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: $h4-font-size;
  font-weight: $bold;
  line-height: $button-line-height-130;
}

.wrapper{
  min-height: 283px;
  max-width: 100%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  background-color: $hover-grey-color;

  font-family: 'Open Sans', sans-serif;
  color: $primary-text-color;
  line-height: $button-line-height-150;
  letter-spacing: $m-letter-space;
}

.video{
  box-sizing: border-box;
  padding-left: 32px;

  @media (max-width: 640px){
    padding-left: 20px;
    padding-right: 20px;
  }

}

.video__header{
  margin-top: 32px;
  margin-bottom: 24px;
  text-align: start;
  box-sizing: border-box;
  @extend %typography-header
}

.video__container{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 172px));
  gap: 20px;

}

.base{
  border-radius: 30px;
  background-color: #E4E9F1;
  box-sizing: border-box;
  padding: 32px;
  text-align: start;
  min-height: 283px;

  @media (max-width: 640px){
    padding-left: 20px;
    padding-right: 20px;
  }
}

.base__header{
  margin-top: 0;
  margin-bottom: 24px;
  @extend %typography-header;
  text-decoration: none;
  color: inherit;
  cursor: $cursor;

  &:hover{
    opacity: 0.6; // на макете нет, что это ссылка, но есть в notion
  }
}

.base__text{
  margin-top: 0;
  margin-bottom: 24px;
  font-size: $m-font-size;
  font-weight: $bold;
}


.base__list{
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, 215px);
  column-gap: 75px;
}

.base__item{
 margin-bottom: 16px;
}

.base__link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: $m-font-size;
  font-weight: $normal;

  &:hover{
    opacity: 0.6; // на макете нет эффекта при наведении

  }
}

.base__link::before{
  display: block;
  content: '';
  background: url('../../../images/icon/24x24/common/list-icon.svg') no-repeat;
  background-position: left;
  width: 24px;
  height: 20px;
}
