@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

%typography-header {
  @include font('IBM Plex Mono', $l-font-size, $bold);
  line-height: $m-line-height;
}

.wrapper {
  @include line-sizes($xl-line-height, $m-letter-space);
  min-height: 283px;
  max-width: 100%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 60px;
  row-gap: 40px;
  align-content: space-between;
  background-color: $secondary-cultured-hover;

  font-family: 'Open Sans', sans-serif;
  color: $primary-oxford-blue-default;

  @media (max-width: $switching-width) {
    margin-right: 20px;
  }
}

.video {
  box-sizing: border-box;
  padding-left: 32px;
  padding-bottom: 32px;

  @media (max-width: $switching-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }
}

.video__header {
  margin-top: 32px;
  margin-bottom: 24px;
  text-align: start;
  @extend %typography-header;
}

.video__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 172px);
  gap: 20px;
  @media (max-width: ($switching-width)) {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}

.base {
  border-radius: 30px;
  background-color: #e4e9f1;
  box-sizing: border-box;
  padding: 32px;
  text-align: start;
  min-height: 283px;

  @media (max-width: $switching-width) {
    padding: 32px 20px;
  }
}

.base__header {
  margin-top: 0;
  margin-bottom: 24px;
  @extend %typography-header;
  text-decoration: none;
  color: inherit;
  cursor: $cursor;

  &:hover {
    opacity: 0.6; // на макете нет, что это ссылка, но есть в notion
  }
}

.base__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: $s-font-size;
  font-weight: $bold;
}

.base__list {
  @include indents;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, 215px);
  column-gap: 75px;
}

.base__item {
  margin-bottom: 16px;
}

.base__link {
  @include flex($align-items: center);
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: $s-font-size;
  font-weight: $normal;

  &:hover {
    opacity: 0.6; // на макете нет эффекта при наведении
  }
}

.base__link::before {
  @include size(24px, 20px);
  display: block;
  content: '';
  background: url('../../../images/icon/24x24/common/list-icon.svg') no-repeat;
  background-position: left;
}
