@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button {
  @include button-style-reset;
  @include flex(row, center, center);
  flex-direction: column;
  gap: 14px;
  font-size: 16px;
  font-weight: $bold;
  letter-spacing: 0.5px;
  line-height: 130%;
  font-family: 'IBM Plex Mono', sans-serif;
  transition: all 0.1s linear;
  height: 172px;
  width: 100%;
  border-radius: $xxl-border-radius;
}

.icon {
  @include flex(row, center, center);
  width: 46px;
  height: 46px;
  box-sizing: border-box;
  border: 3px solid;
  border-radius: $border-radius-circle;
  transition: all 0.1s linear;
}

.icon div {
  @include flex(row, center, center);
}

.icon svg {
  stroke-width: 2px;
  transition: stroke 0.1s linear;
}

.text {
  padding: 0;
  margin: 0;
}

/* Стили цвета кнопки*/

.button {
  color: $grey-3;
  background-color: $secondary-cultured-hover;
}

.icon {
  border-color: $grey-3;
}

.button svg {
  stroke: $grey-3;
}

.button:hover {
  color: $primary-persian-blue-default;
}

.button:hover .icon {
  border-color: $primary-persian-blue-default;
}

.button:hover svg {
  stroke: $primary-persian-blue-default;
}

.button:active {
  color: $primary-persian-blue-default;
  background-color: $blue-disabled;
}

.button:active .icon {
  border-color: $primary-persian-blue-default;
}

.button:active svg {
  stroke: $primary-persian-blue-default;
}

.button:disabled {
  color: $grey-1;
  background-color: $secondary-cultured-hover;
}

.button:disabled .icon {
  border-color: $grey-1;
}

.button:disabled svg {
  stroke: $grey-1;
}
