@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button {
  @include button-style-reset;
  @include flex(column, center, center, 14px);
  @include font('IBM Plex Mono', $m-font-size, $bold);
  @include line-sizes($m-line-height, $l-letter-space);
  @include size(100%, 172px);
  transition: all 0.1s linear;
  border-radius: $xxl-border-radius;
}

.icon {
  @include flex(row, center, center);
  @include size(46px, 46px);
  box-sizing: border-box;
  border: 3px solid;
  border-radius: $border-radius-circle;
  transition: all 0.1s linear;
}

.icon div {
  @include flex(row, center, center);
}

.icon svg {
  stroke-width: 2px;
  transition: stroke 0.1s linear;
}

.text {
  @include indents;
}

.icon {
  border-color: $grey-3;
}

.button {
  color: $grey-3;
  background-color: $secondary-cultured-hover;

  svg {
    stroke: $grey-3;
  }

  &:hover {
    color: $primary-persian-blue-default;

    .icon {
      border-color: $primary-persian-blue-default;
    }

    svg {
      stroke: $primary-persian-blue-default;
    }
  }

  &:active {
    color: $primary-persian-blue-default;
    background-color: $blue-disabled;

    .icon {
      border-color: $primary-persian-blue-default;
    }

    svg {
      stroke: $primary-persian-blue-default;
    }
  }

  &:disabled {
    color: $grey-1;
    background-color: $secondary-cultured-hover;

    .icon {
      border-color: $grey-1;
    }

    svg {
      stroke: $grey-1;
    }
  }
}
