@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.pagination {
  @include flex(row, center, center, 8px);

  &__button {
    @include button-style-reset();
    @include size(20px, 20px);
    border-radius: $s-border-radius;

    &:hover{
      background-color: $primary-persian-blue-default;
    }
  }

  &__number {
    color: $primary-oxford-blue-default;

    &:hover {
      color: $off-white;
    }
  }
}
