@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.text {
  font-family: 'Open Sans', sans-serif;

  &_succsess {
    color: $success-default;
  }

  &_failure {
    color: $error-default;
  }
}

.button {
  @include button-style-reset();
  z-index: 0;
}

div.dropdown {
  @include position(absolute, 56px, 0);
  z-index: 2;
}
