@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.tooltip {
  @include position(relative);
  display: inline-block;

  & * {
    box-sizing: border-box;
  }

  &__text {
    @include position(absolute, unset, unset, 130%, 50%);
    @include indents(5px, 0);
    transform: translateX(-50%);
    background-color: $secondary-xiketic-press;
    color: $off-white;
    border-radius: $s-border-radius;
    letter-spacing: $m-letter-space;
    visibility: hidden;
    text-align: center;
    z-index: 1;
    opacity: 0;
    white-space: nowrap;
  }

  &:hover &__text {
    visibility: visible;
    opacity: 1;
  }

  &:hover::after {
    content: '';
    @include position(absolute, -30%, unset, unset, 50%);
    @include size(0, 0);
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $secondary-xiketic-press;
  }
}
