@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.successPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 98px;
  align-items: center;
  background-color: $primary-persian-blue-default;
}

.contentContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 98px
}

.successSigninLink {
  width: 32px;
  height: 32px;
  margin-right: 30px;
  margin-top: 30px;
  align-self: flex-end;
  background-image: url('../../images/icon/32x32/close.svg');

  @media screen and (max-width: 600px) {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.titleContainer {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  max-width: 1170px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 130px;
  }

}

.title {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 570px;
  font-family: 'IBM Plex Mono', sans-serif;
  text-align: left;
  color: $off-white;
  font-size: 64px;
  font-weight: $bold;
  line-height: 110%;
  vertical-align: middle;

  @media screen and (max-width: 1080px) {
    font-size: 48px;
  }

  @media screen and (max-width: 800px) {
    font-size: $xxxl-font-size;
    line-height: 130%;
  }
}

.titleImage {
  width: 100%;
  max-width: 570px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (max-width: 600px) {
    align-self: flex-end;
    margin-right: -20px;
  }

}


.email {
  vertical-align: baseline;
  width: 100%;
  max-height: 60px;
  max-width: 158px;
  padding: 14px 23px 14px 20px;
  font-size: $xxxl-font-size;
  border-radius: $xl-border-radius;
  color: $primary-medium-spring-green-default;
  font-weight: $bold;
  background-color: $primary-persian-blue-press;
  line-height: $xl-line-height;
  letter-spacing: s-letter-space;
  vertical-align: middle;

  @media screen and (max-width: 800px) {
    border-radius: $m-border-radius;
    padding: 5px 13px 5px 7px;
    font-size: $xl-font-size;
    line-height: 130%;
  }
}
