@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.successPage {
  @include flex(column, flex-start, center, 98px);
  @include size(100%, 100vh);
  background-color: $primary-persian-blue-default;
}

.contentContainer {
  @include flex(column, flex-start, center, 98px);
  width: 100%;
  max-width: 1440px;
}

.successSigninLink {
  @include size(32px, 32px);
  margin-right: 30px;
  margin-top: 30px;
  align-self: flex-end;
  background-image: url('../../images/icon/32x32/close.svg');

  @media screen and (max-width: 600px) {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.titleContainer {
  @include flex(row, center, center, 30px);
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  max-width: 1170px;

  @media screen and (max-width: 600px) {
    @include flex(column, $gap: 130px);
  }

}

.title {
  @include indents;
  @include font('IBM Plex Mono', 64px, $bold, $off-white);
  @include line-sizes($xs-line-height, -1px);
  width: 100%;
  max-width: 570px;
  text-align: left;
  vertical-align: middle;

  @media screen and (max-width: 1080px) {
    font-size: 48px;
  }

  @media screen and (max-width: 800px) {
    font-size: $xxxl-font-size;
    line-height: 130%;
  }
}

.titleImage {
  @include size(100%, 100%);
  max-width: 570px;
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (max-width: 600px) {
    align-self: flex-end;
    margin-right: -20px;
  }

}


.email {
  @include max-size(158px, 60px);
  @include font('IBM Plex Mono', $xxxl-font-size, $bold, $primary-medium-spring-green-default);
  @include line-sizes($xl-line-height, $s-letter-space);
  vertical-align: baseline;
  width: 100%;
  padding: 14px 23px 14px 20px;
  border-radius: $xl-border-radius;
  background-color: $primary-persian-blue-press;
  vertical-align: middle;

  @media screen and (max-width: 800px) {
    border-radius: $m-border-radius;
    padding: 5px 13px 5px 7px;
    font-size: $xl-font-size;
    line-height: 130%;
  }
}
