@use '../../../../stylesheets/variables' as *;
@use '../../../../stylesheets/mixins' as *;

.blocks {
  @include flex(column, false, false, 8px);
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  @media screen and (max-width: $switching-width) {
    padding: 9px;
  }
}

.sumInputs {
  @include flex(row, false, center, 4px);
}

.wrapperCurrency {
  min-width: 66px;
  @media screen and (max-width: $switching-width) {
    min-width: 50px;
  }
}
