@use '../../../../stylesheets/variables' as *;
@use '../../../../stylesheets/mixins' as *;

.item {
  @include font('Open Sans',$xs-font-size, $normal, $secondary-xiketic-press);
  @include line-sizes($xl-line-height, $m-letter-space);
  @include flex($align-items: center, $gap: 16px);
  @include size(100%, 37px);
  box-sizing: border-box;
  padding: 6px 16px 7px;
  background-color: $off-white;
  transition: all 0.1s linear;

  &:hover {
    cursor: $cursor;
    background-color: $secondary-cultured-default;
  }

  &:active {
    cursor: $cursor;
    background-color: $blue-disabled;
  }
}

.icon {
  @include size(24px, 24px);
}

.check {
  @include size(20px, 20px);
  margin-left: auto;
  color: $primary-persian-blue-default;
}
