@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.wrapper {
  @include position(relative);
  @include flex(column, center, space-between, 4px);
  @include indents();
}

.message {
  @include flex(row, center, center);
  @include position(relative);
  @include indents(10px, 0 20px 0 0);
  @include min-size(unset, 40px);
  background-color: $off-white;
  border-radius: $l-border-radius;
  box-sizing: border-box;
  border: 1px $grey-4 solid;

  &:focus-within {
    border: 1.5px $primary-oxford-blue-default solid;
  }
}

.input {
  @include indents();
  @include size(100%, unset);
  @include font('Open-Sans', $s-font-size, $normal, $primary-oxford-blue-default);
  border-radius: $l-border-radius 0 0 $l-border-radius;
  outline: 0;
  border: 0;
  background-color: $off-white;
  line-height: 20px;
  letter-spacing: $m-letter-space;
  box-sizing: border-box;
  text-indent: 3px;

  &::placeholder {
    color: $grey-4;
    background: url('../../../images/icon/20x20/search.svg') no-repeat;
  }

  &:focus::placeholder {
    color: transparent;
    background: none;
    display: none;
  }
}

.incorrect {
  @include flex(row, center, center);
  @include position(relative);
  @include indents(10px, 0 20px 0 0);
  @include min-size(unset, 40px);
  background-color: $off-white;
  border-radius: $l-border-radius;
  box-sizing: border-box;
  border: 1px $grey-4 solid;

  &:focus-within {
    border: 1.5px solid $error-default;
  }
}

.incorrect_text {
  @include position(absolute, unset, 0, -16px);
  @include incorrect-text(left);
}

.inputSecondaryIncorrect {
  border: 0;
  border-bottom: 1px solid $error-default;

  &::placeholder {
    color: $error-default;
  }

  &:hover::placeholder {
    color: $error-default;
  }
}

.colorBlue {
  color: $primary-persian-blue-default
}

.colorBlack {
  color: $primary-oxford-blue-default
}
