@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.box {
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 264px;
  box-shadow: 0 6px 16px 0 rgba(21, 18, 51, 0.08);
  background-color: white;
  border-radius: $l-border-radius;
  position: absolute;
}

.active {
  display: flex;
}

.scroll {
  height: 155px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $grey-3;
  border-radius: 2px;
  border: solid 4px white;
}

.small {
  width: 80px;
}

.medium {
  width: 155px;
}

.chat {
  width: 175px;
}

.large {
  width: 304px;
}

.li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.ul {
  padding: 0;
  margin: 0;
}

.button {
  height: 37px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 16px;
  text-align: left;
  border: none;
  font-size: 13px;
  font-weight: $normal;
  line-height: 19.5px;
  font-family: 'Open Sans';
  letter-spacing: 0.3px;
  cursor: pointer;
}
.button:first-of-type {
  margin-top: 11px;
}
.button:last-of-type {
  margin-bottom: 8px;
}

.button:hover {
  background-color: $secondary-cultured-default;
}
