@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.box {
  display: none;
  flex-direction: row;
  width: 192px;
  height: 40px;
  box-shadow: 0 6px 16px 0 rgba(21, 18, 51, 0.08);
  background-color: white;
  border-radius: $s-border-radius;
  position: absolute;
}

.active {
  display: flex;
}
.button {
  height: 100%;
  width: 48px;
  background-color: white;
  border-radius: $s-border-radius;
  border: none;
  border-right: 1px solid $secondary-cultured-hover;
  cursor: pointer;
}
.button:last-of-type {
  border: none;
}
.button:hover {
  background-color: $secondary-cultured-default;
}

.icon {
  height: 24px;
  width: 24px;
}

.icon__grey {
  filter: invert(77%) sepia(17%) saturate(297%) hue-rotate(179deg)
    brightness(89%) contrast(93%);
}
