@use './variables' as *;
@use './mixins' as *;

@mixin standart-icon() {
  svg {
    @include size(24px, 24px);
  }
}

// Цвет фона
@mixin white-hovered() {
  background-color: $off-white;

  &:hover {
    background-color: $secondary-cultured-default;
  }
}

// цвет иконки

@mixin black-icon() {
  svg {
    color: $primary-oxford-blue-default;
  }
}

@mixin blue-icon() {
  svg {
    color: $primary-persian-blue-default;
  }
  &:hover {
    svg {
      color: $primary-persian-blue-press;
    }
  }
}

@mixin grey-icon() {
  svg {
    color: $grey-3;
  }
  &:hover {
    svg {
      color: $grey-1;
    }
  }
}
