/* Ширина контента */
$max-content-width: 1440px;
$min-content-width: 320px;
$switching-width: ($min-content-width + 300px);

/* Цветовая схема приложения */
$grey-1: #CCD4E0;
$grey-2: #BFC9D9;
$grey-3: #A6B3C9;
$grey-4: #8392AB;
$blue-disabled: #ECEFFF;
$off-white: #FFFFFF;

$primary-persian-blue-default: #243CBB;
$primary-persian-blue-press: #435CDB;
$primary-persian-blue-hover: #2743CE;
$primary-persian-blue-focus: #314DD8; // только signin-signup

$primary-oxford-blue-default: #060C23;

$primary-medium-spring-green-default: #22FFAA;
$primary-medium-spring-green-hover: #70FFC8;
$primary-medium-spring-green-disabled: #85FFD0;

$secondary-cultured-hover: #F2F4F8;
$secondary-cultured-default: #F8F9FB;
$secondary-cultured-press: #D7DEEA;
$secondary-cultured-focus: #E4E9F1;

$error-default: #FF5656;
$success-default: #00E98F;

$xiketic-default: #131118;

/* Переменные размеров шрифта */
//$xl-h1-font-size: 64px;  Используется в 1 компоненте
//$h1-font-size: 48px;  Используется в 2 компонентах
$xxxl-font-size: 32px;
$xxl-font-size: 24px;
$xl-font-size: 20px;
$l-font-size: 18px;
$m-font-size: 16px;
$s-font-size: 14px;
$xs-font-size: 13px;
$xxs-font-size: 12px;

/* Переменные высоты строки */
$xl-line-height: 150%;
$l-line-height: 140%;
$m-line-height: 130%;
$s-line-height: 120%;
$xs-line-height: 110%;

/* Переменные жирности шрифта */
$bold: 600;
$semi-bold: 500;
$normal: 400;

/* Переменные расстояния между буквами */
$l-letter-space: 0.5px;
//$lx-letter-space: 0.75px; используется в 2-х компонентах
$m-letter-space: 0.3px;
$s-letter-space: -0.2px;
// $s-letter-space: 0.2px;  используется в 1 компоненте
//$button-letter-space: 1px;  используется в 2-х компонентах

/* Переменные радиуса скругления */
// $border-radius-185: 185px; используется в 1 компоненте
// $border-radius-50: 50px; используется в 2-х компонентах
$xxl-border-radius-30: 30px;
$xl-border-radius-15: 15px;
$l-border-radius-10: 10px;
$m-border-radius-8: 8px;
$s-border-radius-5: 5px;
$xs-border-radius: 4px;
$border-radius-circle: 50%;

/* Переменные тени элемента */
$l-box-shadow: 0px 12px 24px 0px rgba(21, 18, 51, 0.13);
$m-box-shadow: 0px 6px 16px 0px rgba(21, 18, 51, 0.08);
$s-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

/* Шаблонныe селекторы
для скрытия блока с текстом объяснения, что это за ссылка */
/* %screen-reader {  // Используется в 1 компоненте
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */

%button-style-reset {
  border: none;
  padding: 0;
  background: transparent;

  &:hover {
    cursor: url('../../images/icon/cursor/pointing-hand.svg'), pointer;
  }
}

%flex-element-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Курсор  */
$cursor: url('../../images/icon/cursor/pointing-hand.svg'), pointer;

/* Иконки */
// возможно не будут нужны после рефакторинга иконок
$l-icon-stroke-width: 3px;
$m-icon-stroke-width: 2px;

/* КНОПКИ */
/* Элемент Button */
// $l-button-height: 65px; // используется в 1 компоненте
// $m-button-height: 52px; // используется в 1 компоненте
// $s-button-height: 46px; // используется в 1 компоненте

// $l-button-icon-size: 30px; // используется в 1 компоненте

/* Элемент ButtonIconCopy */
// $button-icon-copy-height: 40px; // используется в 1 компоненте

/* Элемент ButtonAddBot */
// $button-add-bot-height: 172px; // используется в 1 компоненте

// $button-add-bot-icon-size: 46px; // используется в 1 компоненте

// $button-add-bot-border-width: 3px; // используется в 1 компоненте

/* Элемент ButtonAddSampleBot */
// $button-add-sample-bot-height: 88px; // используется в 1 компоненте
// $button-add-sample-bot-width: 188px; // используется в 1 компоненте

/* Элемент ButtonAddSocial TODO удалить */
// $button-add-social-pressed-background-color: transparent;

$button-add-social-size: 124px;
$button-add-social-icon-size: 52px;
$button-add-social-icon-size-s: 40px;
$button-add-social-icon-size-xs: 34px;

/* Элемент ConstructorDefaultButton */
$constructor-default-button-height: 35px; // используется в 1 компоненте

/* Элемент ConstructorIconBotton */
$constructor-icon-button-height: 52px; // используется в 1 компоненте
// $constructor-icon-button-width: 56px; // используется в 1 компоненте

/* Элемент ConstructorAddButton */
//$constructor-add-button-height: 44px; // используется в 1 компоненте

/* Элемент ConstructorHelperButton */
$constructor-helper-button-height: 40px; // используется в 1 компоненте
// $constructor-helper-button-width: 96px; // используется в 1 компоненте

/* ADD BOT */
/* Секция HowItWorks */
$how-it-works-arrow-icon-size: 26px; // используется в 1 компоненте

/* Partnership Program */
/* Таблица */
/* Переменные цветов TODO удалить*/
//$partnership-table-chevron-icon-default-color: #000; // не используется, и там oxfordblue
//$partnership-table-chevron-icon-hover-color: #232323; // не используется
$partnership-table-chevron-icon-size: 26px;
