@import '../../../components/app/vars';

.download {
  position: relative;
}

.download__input {
  opacity: 0;
  position: absolute;
}

.download__label {
  @extend %flex-element-center;
  height: 65px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px dashed #a6b3c9;
  margin-bottom: 2px;
  background-color: #fff;
  cursor: $cursor;
}

.download__icon {
  stroke: $default-dark-grey-color;
  width: 24px;
  margin-right: 12px;
}

.download__text {
  color: $default-dark-grey-color;
  font-family: 'Open Sans', sans-serif;
  font-size: $m-font-size;
  font-weight: $bold;
}

.textError {
  display: none;
  color: #f55;
  position: absolute;
  bottom: -15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.download_error {
  .download__label {
    border-radius: 10px;
    border: 1px solid #ff5656;
  }

  .textError {
    display: block;
  }

  .download__icon {
    stroke: $disabled-grey-color;
  }

  .download__text {
    color: $disabled-grey-color;
  }
}
