@import '../../app/vars';

.container {
    text-align: start;
    background-color: $white-color;
    max-width: 1268px;

}

.title {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: $h2-font-size;
    font-weight: $bold;
    line-height: $h2-line-height;
    letter-spacing: $h2-letter-space;
    color: $primary-text-color;
    margin-bottom: 24px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
    row-gap: 32px;
    padding: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper_button {
    display: flex;
    width: 188px;
    background-color: $hover-grey-color;
    border-radius: 188px;
    cursor: pointer;

}

.wrapper_button:hover {
    background-color: $white-color;
    box-shadow: $l-box-shadow;
}

.button {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.button_plus {
    align-self: center;
    margin: auto;
    width: 24px;
    height: 24px;
    background-image: url('../../../images/icon/template/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: $hover-grey-color;

}

.wrapper_button:hover .button_plus {
    background-image: url('../../../images/icon/template/plus-hover.svg');
    background-color: $white-color;
}

.name_template {
    font-family: 'Open Sans', sans-serif;
    font-size: $m-font-size;
    font-weight: $bold;
    line-height: $m-line-height;
    letter-spacing: $m-letter-space;
    color: $primary-text-color;
    margin-top: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 188px;
}