@import '../../app/vars';

.container {
  text-align: start;
  background-color: $white-color;
  max-width: 100%;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
  @media (max-width: $switching-width) {
    margin-right: 20px;
  }
}

.title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: $h2-font-size;
  font-weight: $bold;
  line-height: $h2-line-height;
  letter-spacing: $h2-letter-space;
  color: $primary-text-color;
  margin: 0;
}

.list {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, 125px));
  grid-template-columns: repeat(auto-fit, minmax(134px, 188px));
  gap: 28px;
  row-gap: 32px;
  padding: 0;

  @media (max-width: $switching-width) {
    grid-template-rows: 125px;
    grid-template-columns: repeat(auto-fit, minmax(134px, 188px));
    grid-auto-flow: column;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d7deea;
    border-radius: 17px;
  }

  &::-webkit-scrollbar-track {
    margin: 0;
  }
}

.expanded {
  overflow: auto;
  max-height: 300px;
  transition: max-height 1s ease;

  @media (max-width: $switching-width) {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
}

.not_expanded {
  max-height: 125px;
  overflow: hidden;
  transition: max-height 1s ease;
  @media (max-width: $switching-width) {
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
}

.item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(134px, 188px));
  align-items: flex-start;
}

.accordion_wrapper {
  display: flex;
  flex-direction: row;
}

.accordion_button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  background-color: $white-color;
  border: none;
  font-weight: $bold;
  font-size: $l-font-size;
  line-height: $l-line-height;
  color: $default-dark-grey-color;
  @media (max-width: $switching-width) {
    display: none;
  }
}

.accordion_ico_plus {
  cursor: pointer;
  width: 26px;
  height: 26px;
  background-image: url('../../../images/icon/24x24/common/chevron-big.svg');
  background-color: $white-color;
  background-position: center;
  border: none;
  align-self: center;
  transition: transform 0.3s ease;
  @media (max-width: $switching-width) {
    display: none;
  }
}

.accordion_ico_minus {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  @media (max-width: $switching-width) {
    display: none;
  }
}

.modal_overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.content {
  position: absolute;
  z-index: 2;
}
