@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

[class*='MuiMenu-root'] {
  [class*='MuiMenu-paper'] {
    border-radius: $l-border-radius;
    box-shadow: $m-box-shadow;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    box-sizing: border-box;

    [class*='os-theme-dark'] {
      --os-size: 8px;
      margin-right: 2px;

      [class*='os-scrollbar-handle'] {
        background-color: $grey-3;
        max-height: 60px;
      }

      .os-scrollbar-vertical {
        --os-size: 20px;
        background-color: aqua;
      }
    }

    [class*='MuiList-root'] {
      [class*='MuiMenuItem-root'] {
        @include font('Open Sans', $xs-font-size, $normal, $primary-oxford-blue-default);
        @include line-sizes($xl-line-height, $m-letter-space);
        position: relative;
        background-color: $off-white;
        font-style: normal;
        text-transform: capitalize;
        max-height: 37px;
        padding: 9px 0 16px 8px;
      }

      [class*='Mui-selected'] {
        background-color: $secondary-cultured-hover;
        position: relative;

        &:hover {
          background-color: $secondary-cultured-hover;
        }
      }

      [class*='MuiMenuItem-root']:hover {
        background-color: $secondary-cultured-hover;
      }

      :focus {
        background-color: $secondary-cultured-hover;
      }
    }
  }
}

[class*='MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root'] {
  background-color: $secondary-cultured-hover;
  padding: 10px 0 10px 8px;
  max-height: 40px;

  [class*='MuiOutlinedInput-notchedOutline'] {
    border: none;
  }

  [class*='MuiOutlinedInput-input'] {
    @include font('Open Sans', $xs-font-size, $normal, $primary-oxford-blue-default);
    @include line-sizes($xl-line-height, $m-letter-space);
    font-style: normal;
    text-transform: capitalize;
    padding: 0;
  }

  [class*='MuiSelect-icon'] {
    max-width: 16px;
    transform: rotate(-90deg);
  }
}

.adaptive {
  @media screen and (max-width: 520px) {
    max-height: 25px;

    .chosen {
      @include position(absolute, 6px, $left: 5px);
      @include size(14px, 14px)
    }

    .chosen_text {
      @include font('Open Sans', 7.41px, $normal);
      @include line-sizes($xl-line-height, $m-letter-space);
    }

    [class*='MuiSelect-icon'] {
      max-width: 9px;
    }
  }
}

.optionContainer{
  @include flex(row, flex-start, center, 12px);
}

.chosen{
  @include position(absolute, 8px, $left: 6px);
}
