@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;




[class*='MuiMenu-root'] {
  [class*='MuiMenu-paper'] {
    border-radius: $l-border-radius;
    box-shadow: $m-box-shadow;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    box-sizing: border-box;

    [class*='os-theme-dark'] {
      --os-size: 8px;
      margin-right: 2px;

      [class*='os-scrollbar-handle'] {
        background-color: $grey-3;
        max-height: 60px;
      }

      .os-scrollbar-vertical {
        --os-size: 20px;
        background-color: aqua;
      }
    }

    /*  &::-webkit-scrollbar {
      display: block;
      width: 3px;
      padding-right: 20px;
      position: absolute;
      right: 20px;
      border-radius: $l-border-radius;
      box-sizing: border-box;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey-3;
      border-radius: $l-border-radius;
    }

    &::-webkit-scrollbar-track {
      background-color: #00000000;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #00000000;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
 */
    [class*='MuiList-root'] {
      [class*='MuiMenuItem-root'] {
        position: relative;
        background-color: $off-white;
        font-size: 13px;
        font-weight: $normal;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        line-height: 150%;
        letter-spacing: 0.3px;
        color: $primary-oxford-blue-default;
        text-transform: capitalize;
        max-height: 37px;
        padding-top: 9px;
        padding-left: 16px;
        padding-bottom: 8px;
      }

      [class*='Mui-selected'] {
        background-color: $secondary-cultured-hover;
        position: relative;

        &:hover {
          background-color: $secondary-cultured-hover;
        }
      }

      [class*='MuiMenuItem-root']:hover {
        background-color: $secondary-cultured-hover;
      }

      :focus {
        background-color: $secondary-cultured-hover;
      }
    }

  }
}

[class*='MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root'] {
  background-color: $secondary-cultured-hover;
  padding-top: 10px;
  padding-left: 8px;
  padding-bottom: 10px;
  max-height: 40px;

  [class*='MuiOutlinedInput-notchedOutline'] {
    border: none;
  }

  [class*='MuiOutlinedInput-input'] {
    font-size: 13px;
    font-weight: $normal;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.3px;
    color: $primary-oxford-blue-default;
    text-transform: capitalize;
    padding: 0;
  }

  [class*='MuiSelect-icon'] {
    max-width: 16px;
    transform: rotate(-90deg);
  }
}

.optionContainer{
 display: flex;
 flex-direction: row;
 align-items: center;
 gap: 12px;
}

.optionText{
  font-family: 'Open Sans', sans-serif;
  font-weight: $normal;
  font-size: $xxs-font-size;
  line-height: 18px;
  color: $primary-oxford-blue-default;
  letter-spacing: 0.3px;
}

.chosen{
  position: absolute;
  top: 8px;
  left: 6px;
}
