@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.accordion {
  @include flex(row, space-between, center);
  @include size(250px, 40px);
  @include indents(10px 8px, 0);
  background-color: $secondary-cultured-default;
  box-sizing: border-box;
  border-radius: $s-border-radius;
  cursor: $cursor;

  @media (max-width: ($min-content-width + 200px)) {
      @include size(318px, 40px);
  }

  &__text {
    white-space: nowrap;
  }

  &__container{
    box-sizing: border-box;
    @include size(250px, unset);
    @include indents(8px 10px, 0);
    background-color: $off-white;
  }

  &__title{
    font-weight: $bold;
  }

  &__textInfo {
    white-space: nowrap;
    padding-top: 12px;
  }

  &__paragraph {
    color: $grey-3;
  }
}

