@import '../../app/_vars';

.accordion {
  display: flex;
  width: 250px;
  height: 40px;
  background-color: $default-grey-color;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
  border-radius: $border-radius-5;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

@mixin font {
  font-family: 'OpenSans', sans-serif;
  font-weight: $normal;
  font-size: $s-font-size;
  line-height: $s-line-height;
  letter-spacing: $lx-letter-space;  
  white-space: nowrap;
}

.text {
  @include font;
}

.container{
  background-color: $white-color;
  width: 250px;
  padding: 8px;
  box-sizing: border-box;
}

.title{
  font-weight: $bold;
}

.textinfo {
  @include font;
  padding-top: 12px;
}