@import '../../components/app/vars';

.signupPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(180deg, $white-color 372px, $default-grey-color 0px);
}

.contentContainer {
  width: 100%;
  max-width: 770px;
  margin-top: 40px;
  margin-left: 34px;
  margin-right: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 710px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and (max-width: 600px) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }
}

.logo {
  width: 149px;
  height: 35px;
  margin-bottom: 20px;
  background-image: url('../../images/icon/BOTkitLogo.svg');

  @media screen and (max-width: 600px) {
    width: 128px;
    height: 30px;
    margin-bottom: 15px;
    background-size: contain;
  }
}

.label {
  padding: 0;
  margin-bottom: 30px;  
  font-weight: $semi-bold;
  line-height: $h1-line-height;
  letter-spacing: 3.5px;
  font-style: normal;
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;

  @media screen and (max-width: 750px) {
    margin-bottom: 20px;
    font-size: $h2-line-height;
    line-height: $button-line-height-110;
    letter-spacing: $h2-letter-space;

  }

  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
    font-size: $h3-line-height;
    line-height: $button-line-height-110;
    letter-spacing: $h2-letter-space;

  }
}
