@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.flow {
  @include hide-scroll;
  display: grid;
  grid-template-columns: auto minmax(0, min-content);
  height: 100vh;
  min-width: 360px;
  background-color: $secondary-cultured-default;

  @media screen and (max-width: $switching-width) {
    height: calc(100vh - 72px);  // 72 - высота header
  }
}

.bot-name{
  @include position(absolute, 16px, $left: 98px);
  z-index: 100;

  @media screen and (max-width: $switching-width) {
    top: 8px;
    left: 20px;
  }
}

.trigger-button{
  @include position(absolute, 16px, 40px);
  z-index: 100;

  @media screen and (max-width: $switching-width) {
    top: 8px;
    right: 20px;
  }
}

.upWrapper {
  @include position(absolute, 16px, 124px);
  @include flex(row, end, false, 8px);
  @include size(100%, fit-content);
  z-index: 100;
  box-sizing: border-box;

  @media screen and (max-width: $switching-width) {
    @include position(absolute, unset, 0, 0);
    justify-content: center;
    padding: 12px 0 32px;
    right: 0;
    width: 100%;
    height: 92px;
    background-color: $off-white;
  }
}

.addBlock{
  @include position(absolute, $right: 24px, $bottom: 24px);
  @include flex(row,$align-items: flex-end ,$gap: 10px);
  max-width: calc(100% - 150px);
  z-index: 999;

  @media screen and (max-width: $switching-width) {
    flex-direction: column;
    bottom: 112px;
    max-width: calc(100% - 24px*2);
  }
}

.addBlock__menu {
  width: 100%;

  @media screen and (max-width: $switching-width) {
    width: 320px;
  }
}

.wrapper {
  @include max-size(151px, 48px);
  overflow: hidden;
  z-index: 100;
}

.container {
  max-width: 296px;
  height: min-content;

  @media screen and (max-width: $switching-width) {
    max-width: 168px;
  }
}

.content {
  @include flex(column, false, false, 8px);
  padding: 12px 16px 16px;

  @media screen and (max-width: $switching-width) {
    padding: 12px 9px 9px;
  }
}

.extraClass:first-of-type {
  padding: 12px 12px 8px !important;

  @media screen and (max-width: $switching-width) {
    padding: 9px 9px 6px !important;
  }
}

.extraClass:last-of-type {
  padding: 8px 12px 12px !important;

  @media screen and (max-width: $switching-width) {
    padding: 6px 9px 9px !important;
  }
}

.wrapperButtons {
  @include flex(column, false, center, 8px);
  width: 264px;
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;

  @media screen and (max-width: $switching-width) {
    border-radius: 5.7px;
  }
}

.wrapperButtonWidth {
  @include size(232px, 100%);
  padding: 12px 0;

  &:first-of-type {
    border-bottom: 1px solid $secondary-cultured-focus;
  }
}

.wrapperButtonHeight {
  @include size(100%, 44px);
}

.button-white {
  @include colored-button($off-white, $off-white, $secondary-cultured-hover, $primary-persian-blue-hover);
}

.button-red {
  @include colored-button($off-white, $example-button-color-red, $example-button-color-red, $primary-persian-blue-hover);
}

.button-green {
  @include colored-button($off-white, $example-button-color-green, $example-button-color-green, $primary-persian-blue-hover);
}

.button-blue {
  @include colored-button($off-white, $example-button-color-blue, $example-button-color-blue, $primary-persian-blue-hover);
}
