@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.stepper {
  max-width: 580px;
  width: 100%;
}

.stepper_step {
  font-family: 'IBM Plex Mono';
  font-weight: $bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.5px;

  display: flex;
  gap: 32px;

  margin-bottom: 16px;

  * {
    margin: 0;
  }

  @media screen and (max-width: 520px) {
    gap: 12px;
  }
}
