@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets//mixins' as *;

.dialog {
  @include size(100%, 48px);
  @include indents(16px 0, unset);
  @include position(relative);
  display: grid;
  grid-template-columns: 41px auto auto;
  grid-template-rows: auto auto;
  cursor: pointer;

  &__line {
    @include size(4px, 81px);
    @include position(absolute, unset, 15px, unset, unset);
    background-color: $primary-persian-blue-default;
    border-radius: 2px 0 0 2px;
  }

  &__avatar {
    grid-column: 1;
    grid-row: 1/3;
    align-self: center;
  }

  &__messageNumCircle {
    @include position(relative);
    @include min-size(18px, unset);
    @include max-size(fit-content, unset);
    @include size(unset, 18px);
    align-self: baseline;
    justify-self: right;
    background-color: $primary-persian-blue-default;
    border-radius: $border-radius-circle;
    grid-column: 3;
    grid-row: 2;
    margin-top: 3px;
  }

  &__messageNum {
    @include position(absolute, 50%, unset, unset, 50%);
    color: $off-white;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
    font-size: $xxxs-font-size;
    font-weight: $bold;
    line-height: $xl-line-height;
    letter-spacing: $m-letter-space;
  }

  &__name {
    @include indents(0 0 0 16px, unset);
    color: $primary-oxford-blue-default;
    font-size: $m-font-size;
    font-weight: $semi-bold;
    line-height: $xl-line-height;
    letter-spacing: 0;
    grid-column: 2;
    grid-row: 1;
  }

  &__text {
    @include size(230px, 24px);
    @include ellipsis();
    @include indents(0 0 0 16px, unset);
    color: $grey-3;
    font-size: $xs-font-size;
    font-weight: $normal;
    line-height: $xl-line-height;
    letter-spacing: $m-letter-space;
    grid-column: 2;
    grid-row: 2;
  }

  &__timeAgo {
    color: $grey-3;
    font-family: 'Open Sans', sans-serif;
    font-size: $xs-font-size;
    font-weight: $normal;
    line-height: $xl-line-height;
    letter-spacing: $m-letter-space;
    grid-column: 2/4;
    grid-row: 1;
    justify-self: right;
  }
}
