@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.button {
  @include button-style-reset;
  @include flex(row, flex-start, center, 8px);
  @include size(100%, 100%);
  @include font('Open Sans', $xl-line-height, $normal, $grey-4);
  @include line-sizes($xl-line-height, $m-letter-space);
  padding: 0 12px;
  transition: all 0.1s linear;
  border-radius: $l-border-radius;
  background-color: $secondary-cultured-default;

  div {
    @include flex(row, center, center);
  }

  svg {
    transition: stroke 0.1s linear;
    stroke: $grey-3;
  }

  &:hover {
    color: $primary-persian-blue-default;

    svg {
      stroke: $primary-persian-blue-default;
    }
  }

  &:active {
    color: $primary-persian-blue-default;
    background-color: $blue-disabled;

    svg {
      stroke: $primary-persian-blue-default;
    }
  }

  &:disabled {
    color: $secondary-cultured-press;
    background-color: $secondary-cultured-default;

    svg {
      stroke: $grey-1;
    }
  }
}

.wrapper {
  width: 100%;
}

.wrapperAddNewBlock {
  @include size(196px, 64px);
}

.text {
  @include indents;
}
