@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.box {
  @include flex(column, $gap: 4px);
  box-sizing: border-box;
  padding: 8px 0;
  box-shadow: $m-box-shadow;
  background-color: $off-white;
  border-radius: $l-border-radius;
}

.scroll {
  height: 155px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-3;
    border-radius: 2px;
    border: solid 4px $off-white;
  }
}
