@use '../../../../../stylesheets/variables' as *;
@use '../../../../../stylesheets/mixins' as *;

.conditional {
  @include flex(column);
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;

  @media screen and (max-width: 520px) {
    border-radius: 5.7px;
  }
}

.extraClass:first-of-type {
  padding: 12px 12px 8px !important;

  @media screen and (max-width: 520px) {
    padding: 9px 9px 6px !important;
  }
}

.extraClass:last-of-type {
  padding: 8px 12px 12px !important;

  @media screen and (max-width: 520px) {
    padding: 6px 9px 9px !important;
  }
}

.labeled-content {
  @include flex(column, false, false, 4px);
  box-sizing: border-box;
}

.selects-string {
  @include flex(row, false, false, 4px);

  @media screen and (max-width: 520px) {
    :nth-child(1) {
      max-width: 96px;
    }

    :nth-child(2) {
      max-width: 37px;
    }
  }
}
.selectsIcon {
  min-width: 52px;
}

.selectsVariable {
  min-width: 184px;
  @media screen and (max-width: 520px) {
    max-width: 96px;
  }
}
