@use '../../../../../stylesheets/variables' as *;
@use '../../../../../stylesheets/mixins' as *;

.conditional {
  @include flex(column);
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;

  @media screen and (max-width: $switching-width) {
    border-radius: 5.7px;
  }
}

.extraClass:first-of-type {
  padding: 12px 12px 8px !important;

  @media screen and (max-width: $switching-width) {
    padding: 9px 9px 6px !important;
  }
}

.extraClass:last-of-type {
  padding: 8px 12px 12px !important;

  @media screen and (max-width: $switching-width) {
    padding: 6px 9px 9px !important;
  }
}

.labeled-content {
  @include flex(column, false, false, 4px);
  box-sizing: border-box;
  @media screen and (max-width: $switching-width) {
    max-width: 196px;
  }
}

.selects {
  @include flex(row, false, false, 4px);
}

.variable {
  min-width: 184px;
  @media screen and (max-width: $switching-width) {
    min-width: 93px;
  }
}

.comparison {
  box-sizing: border-box;
  min-width: 52px;

  & button {
    padding: 8px 2px 8px 6px;
  }
  @media screen and (max-width: $switching-width) {
    min-width: 37px;

    & button {
      padding: 6px 5px 5px 5px;
    }
  }

  & .select_item__icon {
    color: $primary-persian-blue-default;
  }
}

div.select_layout {
  width: 304px;
}

div.select_item {
  text-align: start;
}

div.select_item__icon {
  color: $grey-3;
}
