@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.header {
  // max-width: 1268px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  border-bottom: 1px solid #d7deea;
  margin-right: 40px;
  // START GRID LAYOUT
  grid-column: 2 / 3;
  grid-row: 1;
  // END GRID LAYOUT

  @media (max-width: $switching-width) {
    border-bottom: none;
    margin-right: 20px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  color: #060c23;
  position: relative; //цепляем абсол.позиц.account setting
}

.container {
  /* Временный костыль, надо разобраться с кнопкой. */
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  & + .text {
    font-weight: 500;
    padding-left: 7px;
    padding-right: 15px;
    border-right: 1px solid rgba(228, 233, 241, 1);
  }

  @media (max-width: $switching-width) {
    display: none;
  }
}

.logo {
  display: none;
  @media (max-width: $switching-width) {
    display: block;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 37px;
  margin-left: 15px;

  @media (max-width: $switching-width) {
    display: none;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  // position: relative; //цепляем абсол.позиц.account setting
  cursor: $cursor;

  & > .text {
    // многоточие, имя пользователя
    max-width: 20vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.userInfo__avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-left: 33px;
  margin-right: 10px;
  overflow: hidden;
  flex-shrink: 0;

  @media (max-width: $switching-width) {
    margin-right: 0;
  }
}

.userInfo__image {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}

.userInfo__button {
  margin-left: 17px;

  @media (max-width: $switching-width) {
    display: none;
  }
}

.botton_default {
  rotate: 0;
}

.button_active {
  rotate: 180deg;
  transition: all 0.5s linear;
}
