@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.open_button {
  @include flex(row);
  @include size(240px, 40px);
  background-color: $secondary-cultured-default;
  border-radius: $s-border-radius;
  position: relative;
  cursor: $cursor;
}

.box {
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 240px;
  box-shadow: $m-box-shadow;
  background-color: white;
  border-radius: $l-border-radius;
  position: absolute;
}

.active {
  display: flex;
}

.text {
  @include font('Open Sans', $xs-font-size, $normal, black);
  @include line-sizes($xl-line-height, $m-letter-space);
  transition: color 0.3s linear;
}

.open_button .text {
  margin-left: 8px;
}

.grey {
  color: $grey-2;
}

.li {
  @include indents;
  list-style: none;
  display: flex;
}

.ul {
  @include indents;
}

.button {
  @include size(100%, 37px);
  background-color: white;
  box-sizing: border-box;
  padding: 0 0 0 16px;
  text-align: left;
  border: none;
  cursor: $cursor;
}
.button:first-of-type {
  margin-top: 11px;
}
.button:last-of-type {
  margin-bottom: 8px;
}

.button:hover {
  background-color: $secondary-cultured-default;
}

.icon {
  @include size(16px, 16px);
  @include position(absolute, 12px, 12px);
}
