.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 998;
  pointer-events: none;
}

.overlayActive {
  display: block;
  pointer-events: all;
}

.open_button {
  @include flex(row);
  @include size(240px, 40px);
  background-color: $secondary-cultured-default;
  border-radius: $s-border-radius;
  position: relative;
  cursor: pointer;
  z-index: 999;
}

.box {
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 240px;
  box-shadow: 0 6px 16px 0 rgba(21, 18, 51, 0.08);
  background-color: white;
  border-radius: $l-border-radius;
  position: absolute;
}

.active {
  display: flex;
}

.text.text {
  transition: color 0.3s linear;
}

.open_button .text {
  margin-left: 8px;
}

.grey {
  color: $grey-2;
}

.li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  z-index: 999;
}

.ul {
  padding: 0;
  margin: 0;
  z-index: 999;
  background-color: white;
}

.button {
  height: 37px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 16px;
  text-align: left;
  border: none;
  cursor: pointer;
  z-index: 999;
}
.button:first-of-type {
  margin-top: 11px;
}
.button:last-of-type {
  margin-bottom: 8px;
}

.button:hover {
  background-color: $secondary-cultured-default;
}

.icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
}
