@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.resetFormContainer {
  @include flex(column, center, center);
  width: 100%;
  background-color: $primary-persian-blue-hover;
  border-radius: $xxl-border-radius;

  @media screen and (max-width: 600px) {
    border-radius: $xxl-border-radius $xxl-border-radius 0 0;
    height: calc(100vh - 110px);
    justify-content: flex-start;
    position: relative;
  }
}

.resetSocialContainer {
  @include flex(column, $align-items: center);
  width: 100%;
}

.resetInputsContainer {
  @include flex(column, $align-items: center);
  width: 100%;
  border-radius: $xxl-border-radius;
  background-color: $primary-persian-blue-default;
}

.inputsForm {
  @include flex(column, $align-items: center);
  margin-bottom: 60px;
  width: 100%;

  @media screen and (max-width: 600px) {
    gap: 40px;
    margin-bottom: 135px;
  }

  @media screen and (max-width: 400px) {
    margin-top: 40px;
  }
}

.resetTitle {
  @include indents(0, 50px 0 30px);
  @include font('IBM Plex Mono', $xl-font-size, $bold, $off-white);
  @include line-sizes($m-line-height, 0);
  text-align: center;

  @media screen and (max-width: 600px) {
    @include line-sizes($xl-line-height, $l-letter-space);
    margin-top: 25px;
    font-size: $m-font-size;
    letter-spacing: $l-letter-space;
    line-height: $xl-line-height;
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}

.inputsContainer {
  @include flex(column, center, $gap: 20px);
  @include indents(0 100px, 0 0 50px);
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 400px) {
    margin-bottom: 0;
  }
}

.formsButton {
  width: 100%;
  max-width: 260px;
  position: relative;
}

.resetBackgroundImage {
  margin-top: -15px;
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1.2;
  background-size: contain;
  background-image: url('../../images/roboReset.png');

  @media screen and (max-width: 600px) {
    margin-top: -45px;
    max-width: 232px;
    position: absolute;
    bottom: 0;
  }
}

.incorrect_text {
  @include font('PT Sans', $xxxs-font-size, $normal, $error-default);
  @include line-sizes($xl-line-height, $m-letter-space);
  position: absolute;
  margin: 2px 0 0 0;
  left: 0;
  right: 0;
  text-align: center;
}
