@import '../../components/app/vars';

.resetFormContainer {
  width: 100%;
  background-color: $active-blue-color;
  border-radius: $border-radius-30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    border-radius: $border-radius-30 $border-radius-30 0 0;
    height: calc(100vh - 110px);
    justify-content: flex-start;
    position: relative;
  }
}

.resetSocialContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetInputsContainer {
  width: 100%;
  display: flex;
  border-radius: $border-radius-30;
  flex-direction: column;
  align-items: center;
  background-color: $default-blue-color;

}

.inputsForm {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media screen and (max-width: 600px) {
    gap: 40px;
    margin-bottom: 135px;
  }

  @media screen and (max-width: 400px) {
    margin-top: 40px;
  }
}

.resetTitle {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'IBM Plex Mono', sans-serif;
  text-align: center;
  color: $white-color;
  font-size: $xl-font-size;
  font-weight: $bold;
  line-height: $button-line-height-130;

  @media screen and (max-width: 600px) {
    margin-top: 25px;
    font-size: $l-font-size;
    letter-spacing: $h5-letter-space;
    line-height: $button-line-height-150;
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}

.inputsContainer {
  width: 100%;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;

  @media screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (max-width: 400px) {
    margin-bottom: 0;
  }
}

.formsButton {
  width: 100%;
  max-width: 260px;
  position: relative;
}

.resetBackgroundImage {
  margin-top: -15px;
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1.2;
  background-size: contain;
  background-image: url('../../images/roboReset.png');

  @media screen and (max-width: 600px) {
    margin-top: -45px;
    max-width: 232px;
    position: absolute;
    bottom: 0;
  }
}

.incorrect_text {
  color: $error-red-color;
  position: absolute;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: $m-letter-space;
  margin: 2px 0 0 0;
  left: 0;
  right: 0;
  text-align: center;
}
