@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.bot_menu {
  @include flex(column, unset, unset, 20px);
  width: 100%;
  padding: 40px;
  background-color: $off-white;
  box-shadow: $l-box-shadow;
  border-radius: $xxl-border-radius;
  max-width: 464px;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: 520px) {
    max-width: 320px;
    padding: 40px 24px;
  }
}

.title {
  @include font('IBM Plex Mono', $xxl-font-size, $bold);
  line-height: $m-line-height;
  margin: 0;
}

.cancel {
  @include button-style-reset;
  @include font('IBM Plex Mono', $s-font-size, $bold);
  @include line-sizes($m-line-height, $xxl-letter-space);
  text-transform: uppercase;
  color: $grey-4;
  padding: 13px 31px;
}

.buttons {
  @include flex(row, flex-end, unset, 12px);
}

.add_button {
  min-width: 222px;

  @media screen and (max-width: 520px) {
    min-width: 142px;
  }
}

.open_modal {
  @include font('IBM Plex Mono', $m-font-size, $bold, $off-white);
  @include line-sizes($m-line-height, 0);
  @include indents(13px 20px, 0);
  @include position(absolute, -60px, 30%);
  box-sizing: border-box;
  background-color: $secondary-xiketic-press;
  border-radius: $l-border-radius;
}

.hr {
  @include size(100%, 1px);
  background: $secondary-cultured-focus;
  margin: 0;
  border: 0;
}

.text {
  @include font('Open Sans', $xs-font-size, $normal);
  @include line-sizes($xl-line-height, $m-letter-space);
  margin: 0;
}

.value {
  @include font('Open Sans', $m-font-size, $bold);
  @include line-sizes($xl-line-height, $m-letter-space);
  @include flex(row, space-between, center, 4px);
  margin-top: 8px 0 0 0;
  * {
    margin: 0;
  }
}
