@import '../../../components/app/vars';

.container {
  @extend %flex-element-center;
  flex-direction: column;
  gap: 16px;
}

.header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow_button {
  @extend %button-style-reset;
  @extend %flex-element-center;
  aspect-ratio: 1 / 1;
  cursor: $cursor;
  transition: all 0.2s linear;
}

.arrow_button div {
  @extend %flex-element-center;
}

.arrow_button svg {
  height: $how-it-works-arrow-icon-size;
  width: $how-it-works-arrow-icon-size;
  stroke: $how-it-works-arrow-icon-default-color;
  stroke-width: $how-it-works-arrow-icon-stroke-width;
  transition: all 0.1s linear;
}

.arrow_button:hover svg {
  stroke: $how-it-works-arrow-icon-hover-color;
}

.arrow_button_active {
  rotate: 180deg;
}

.buttons_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  width: 100%;
  column-gap: 29px;
  row-gap: 12px;
  transform: scaleY(0);
  transform-origin: top;
  transition:
    transform 0.2s linear,
    height 0.2s linear;
  height: 0;
}

.buttons_container_active {
  transform: scaleY(1);
  height: 100%;
}
