@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;


.button {
  align-items: center;
  justify-content: center;
  line-height: 0;
}

@mixin standart-icon {
  svg {
    @include size(24px, 24px);
  }
}

// Размер
.xsmall {
  @include size(36px, 100%);
  @include standart-icon();
}

.small {
  @include size(40px, 40px);
  @include standart-icon();
}

.medium {
  @include size(48px, 100%);
  @include standart-icon();
}

.large {
  @include size(56px, 52px);
  @include standart-icon();
}

// Цветовые схемы

.whiteBlack {
  background-color: $off-white;

  &:hover {
    background-color: $secondary-cultured-default;
  }

  svg {
    color: $primary-oxford-blue-default;
  }
}

.whiteGrey {
  background-color: $off-white;

  svg {
    color: $grey-3;
  }
 &:hover {
  svg {
    color: $grey-1;
  }
 }
}


.whiteBlue {
  background-color: $off-white;

  svg {
    color: $primary-persian-blue-default;
  }
 &:hover {
  svg {
    color: $primary-persian-blue-press;
  }
 }
}
