@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

@mixin buttonText {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: $xs-font-size;
  font-weight: $bold;
  line-height: $xl-line-height;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

@mixin buttonStyle {
  @include button-style-reset();
  @include flex(row, center, center);
  @include indents(20px 50px, 0);
  border-radius: $l-border-radius;
}

.popup {
  @include size(464px, 262px);
  @include position(relative);
  @include flex(column, center, flex-start, 40px);
  @include indents(40px, 0);
  box-sizing: border-box;
  background-color: $off-white;
  box-shadow: 0 12px 24px 0 #15123321;
  border-radius: $xxl-border-radius;

  &__content {
    @include flex(column, center, flex-start, 32px);
  }

  &__buttons {
    @include flex(row, center, center, 32px);
    align-self: flex-end;
  }

  &__rejectBtn {
    @include buttonStyle();
    @include size(118px, unset);
    background-color: transparent;
  }

  &__confirmBtn {
    @include buttonStyle();
    @include size(165px, unset);
    background-color: $primary-persian-blue-default;
  }

  &__rejectText {
    @include buttonText();
    color: $grey-4;
  }

  &__confirmText {
    @include buttonText();
    color: $off-white;
  }

  &__heading {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: $xxl-font-size;
    font-weight: $bold;
    line-height: $xs-line-height;
    letter-spacing: 0;
    text-align: left;
  }

  &__text {
    font-size: $xs-font-size;
    font-weight: $normal;
    line-height: $xl-line-height;
    letter-spacing: $m-letter-space;
    text-align: left;
  }
}
