@use '../../../stylesheets/mixins' as *;

.cell {
  @include position(absolute, $right: 0, $top: 50%);
  transform: translate(-50%, -50%);
  z-index: 102;
}

.button {
  @include button-style-reset();
}

div.dropdown {
  @include position(absolute, 24px, 24px);
  z-index: 105;
}
