@use '../../../stylesheets/mixins' as *;

.cell {
  @include position(absolute, $right: 0, $top: 50%);
  transform: translate(-50%, -50%);
  z-index: 101;
}

.button {
  @include button-style-reset();
  z-index: 1;
}

div.dropdown {
  @include position(absolute, 24px, 0);
}
