@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.box {
  @include flex(column, $gap: 4px);
  width: 175px;
  box-shadow: $l-box-shadow;
  background-color: white;
  border-radius: $l-border-radius;
  position: absolute;
  z-index: 1; // иначе перекравает соседники карточками
}

.active {
  display: flex;
}

.text {
  @include font('Open Sans', $xs-font-size, $normal);
  @include line-sizes($xl-line-height, $m-letter-space);
  margin-left: 16px;
}

.button {
  @include size(100%, 37px);
  @include flex(row, flex-start, center);
  background-color: white;
  box-sizing: border-box;
  padding: 0 0 0 16px;
  text-align: left;
  border: none;
  cursor: pointer;
}
.button:first-of-type {
  margin-top: 8px;
}
.button:last-of-type {
  margin-bottom: 8px;
}
.button:hover {
  background-color: $secondary-cultured-default;
}

.icon {
  @include size(24px, 24px);
}

.icon__grey {
  filter: invert(77%) sepia(17%) saturate(297%) hue-rotate(179deg)
    brightness(89%) contrast(93%);
}
