@import '../../../components/app/vars';

.box {
  display: none;
  flex-direction: column;
  gap: 4px;
  width: 175px;
  box-shadow: 0 12px 24px 0 rgba(21, 18, 51, 0.08);
  background-color: white;
  border-radius: $border-radius-10;
  position: absolute;
  z-index: 1; // иначе перекравает соседники карточками
}

.active {
  display: flex;
}

.text.text {
  padding-left: 16px;
  color: inherit;
}

.button {
  height: 37px;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 16px;
  text-align: left;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.button:first-of-type {
  margin-top: 8px;
}
.button:last-of-type {
  margin-bottom: 8px;
}
.button:hover {
  background-color: $default-grey-color;
}

.icon {
  height: 24px;
  width: 24px;
}

.icon__grey {
  filter: invert(77%) sepia(17%) saturate(297%) hue-rotate(179deg)
    brightness(89%) contrast(93%);
}
