@import '../../../../components/app/vars';

.result__icon {
  width: 47px;
  height: 47px;
  margin-right: 8px;
  flex-shrink: 0;
}

.result__name {
  margin-right: auto;
  width: 120px;
  text-align: left;
  // многоточие
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.result__size {  
  margin-right: 12px;
  color: #ccd4e0;
}

.result__button {
  cursor: $cursor;
  color: #ccd4e0;
  width: 24px;
  height: 24px;
  mask-image: url('../../../../images/icon/24x24/common/close.svg');
  mask-size: 24px 24px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.result_error {
  .result__name,
  .result__size {
    color: #ff5656;
  }
  .result__icon {
    fill: #ff5656;
    stroke: #ff5656;
  }
}
