@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

$switching-width-menu: ($min-content-width + 100px);

.container {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 244px;
  min-height: 323px;
  box-sizing: border-box;
  padding: 8px 0;

  box-shadow: $l-box-shadow;
  background-color: $off-white;
  border-radius: $l-border-radius;
  z-index: 4;
}

.list {
  @include indents(0, 0);
  list-style: none;
  display: grid;
}

.item {
  @include flex(row, unset, center, 15px);
  @include indents(0 16px, 6px 0 0 0);
  height: 37px;
  cursor: $cursor;
  color: $secondary-xiketic-press;
  position: relative;
  box-sizing: border-box;

  &:hover {
    background-color: $secondary-cultured-hover;
    color: $primary-oxford-blue-default;
  }
}

.text {
  @include font('Open Sans', $xs-font-size, $normal, $color: inherit);
  @include line-sizes($xl-line-height, inherit);
  margin: 0;
}

.item:nth-child(1) {
  padding-bottom: 6px;
  border-bottom: 1px solid $secondary-cultured-press;
}

.item:nth-child(7) {
  padding-top: 6px;
  border-top: 1px solid $secondary-cultured-press;
}

.item:nth-child(8) {
  // "Отмена"
  display: none;
  height: 43px;
  padding-top: 6px;
  border-top: 1px solid $secondary-cultured-press;

  @media (max-width: $switching-width-menu) {
    display: flex;
  }
}

@media (max-width: $switching-width-menu) {
  .container {
    width: auto;
    min-height: 416px;
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .text {
    font-weight: $bold;
    font-size: $s-font-size;
  }

  .item {
    height: 44px;
  }

  .flexItem {
    // "Получить ссылку"
    grid-row: 6 / 7;
  }
}
