@import '../../../components/app/vars';

.button {
  @extend %button-style-reset;
  @extend %flex-element-center;
  width: 100%;
  height: 76px;
  transition: box-shadow 0.1s linear;
  border-radius: $border-radius-10;
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}

.button:hover {
  box-shadow: 0 6px 16px 0 rgba(21, 18, 51, 0.08);
  background-color: white;
}

.button:disabled {
  @extend .button;
  pointer-events: none;
}

.button:disabled svg {
  fill: $button-add-bot-disabled-color;
}

.image_box {
  @extend %flex-element-center;
  width: 173px;
  height: 173px;
  border-radius: $border-radius-circle;
  background-color: $button-default-grey-color;
  transition: background-color 0.1s linear;
  position: absolute;
  z-index: 1;
  top: -48px;
  left: -26px;

  @media screen and (max-width: 670px) {
    justify-content: end;
    left: -56px;
  }
}

.image_box div {
  @extend %flex-element-center;
}

.image_box svg {
  fill: $default-dark-grey-color;
  transition: all 0.1s linear;

  @media screen and (max-width: 670px) {
    padding-right: 32px;
  }
}

.button:hover .image_box {
  background-color: $button-disabled-green-color;
}

.button:hover .image_box svg {
  fill: $button-default-green-color;
}

.text_container {
  @extend %flex-element-center;
  width: 100%;
  height: 76px;
  border: 2px solid $button-default-grey-color;
  box-sizing: border-box;
  transition: border 0.1s linear;
  border-radius: $border-radius-10;
}

.button:hover .text_container {
  border: 2px solid rgba(0, 0, 0, 0);
}

.text {
  width: 100%;
  text-align: left;
  padding-left: 201px;
  padding-right: 20px;  
  @media screen and (max-width: 670px) {
    padding-left: 137px;
  }
}

.button:disabled .text {
  //@extend .text;
  color: $button-add-bot-disabled-color;
}
