@use '../../../../stylesheets/variables' as *;
@use '../../../../stylesheets/mixins' as *;

.container {
    padding: 12px 16px 16px;

    @media screen and (max-width: 520px) {
      padding: 7px 9px 10px 9px;
    }
}

.field {
  @include size(264px, 44px);
  background-color: $secondary-cultured-hover;
  border-radius: $s-border-radius;

  @media screen and (max-width: 520px) {
    @include size(150px, 25px);
  }
}
