@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;


// используется в кнопках и ссылках
/* @mixin font-nav() {
  // общее оформление текста в навигации
  @include font('Open Sans', $m-font-size, $normal);
  @include line-sizes($xl-line-height, 0.2px);
} */

.wrapper {
  @include flex(column);

  grid-row: 1 / -1;
  grid-column: 1/2;
  z-index: 3;

  position: relative;
  margin: 16px 46px 16px 16px;
  overflow: hidden;
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;

  @media (max-width: $switching-width) {
    margin: 0;
  }
}

.header__logo {
  height: 34px;
  max-width: 145px;
  box-sizing: border-box;
  margin: 20px 16px 0;
  background-image: url('../../images/icon/side bar/full-logo.svg');
  background-repeat: no-repeat;
  background-size: initial;
  flex-shrink: 0;

  @media (max-width: $switching-width) {
    @include size(128px, 30px);
  }
}

.navigation {
  @include flex(column);
}

.navigation__list {
  @include flex(column, $gap: 8px);
  list-style: none;
  margin: 47px 8px 20px;
  padding: 0;

  @media (max-width: $switching-width) {
    margin-top: 0;
  }
}

.compact {
  @include hide-scroll;
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 70px;
  margin: 0;
  max-height: calc(100vh - 16px*2 - 62px);
  overflow-y: scroll;
  background-color: $off-white;

  @media (max-width: $switching-width) {
    max-width: unset;
    width: 100%;
    top: 0;
    left: 0;
  }
}
