@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;



@mixin add-button-circle() {
  @include size(46px, 46px);
  border-radius: $border-radius-circle;
  background-image: url('../../images/icon/24x24/sidebar/plus.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primary-persian-blue-default;
  transition: all 0.3s;
  flex-shrink: 0;

  &:hover {
    background-color: $primary-persian-blue-press;
  }
  &:active {
    background-color: $primary-persian-blue-hover;
  }
}

// используется в кнопках и ссылках
@mixin font-nav() {
  // общее оформление текста в навигации
  @include font('Open Sans', $m-font-size, $normal);
  @include line-sizes($xl-line-height, 0.2px);
}

$additional-grey-pressed: #c3d1d8;

/* **     Общий блок открытое/закрытое состояние сайдбара и блок затемнения   ** */

.wrapper {
  @include hide-scroll;
  // START GRID LAYOUT
  grid-row: 1 / -1;
  z-index: 3;
  // END GRID LAYOUT
  position: relative;
  margin: 16px 46px 16px 0;
  display: flex;

  @media (max-width: $switching-width) {
    margin: 0;
  }
}

.wrapper_open {
  grid-column: 1/-1;
  margin-right: 0;
}

.wrapper_close {
  grid-column: 1/2;

  @media (max-width: $switching-width) {
    grid-row: 1; //в середине экрана будет основной контент страницы
  }
}

.sidebar {
  box-sizing: border-box;
  transition: all 0.2s;
  flex-shrink: 0;

  // для десктоп
  background-color: $secondary-cultured-default;
  box-sizing: border-box;
  padding: 8px;
  border-radius: $l-border-radius;

  @media (max-width: $switching-width) {
    background-color: $off-white;
    padding: 0;
    border-radius: 0;
    max-width: 100%;
  }
}

.sidebar_open {
  background-color: $secondary-cultured-default;
  width: 224px;

  .navigation__text,
  .addtext {
    opacity: 1;
    visibility: visible;
  }

  .addbutton {
    overflow: visible;
    background-color: $primary-persian-blue-default;
    width: 182px;
    border-radius: $l-border-radius;
    margin-left: 8px;

    background-image: none; // Будет плюс на синем блоке при закрытии)
  }
  .addbutton_active {
    //Эти стили здесь для "веса"
    background-color: $primary-persian-blue-hover;
    &:hover {
      background-color: $primary-persian-blue-hover;
      cursor: default;
    }
  }

  @media (max-width: $switching-width) {
    width: 100%; // растянуть sidebar_open на весь экран
    background-color: $off-white;
    margin: 0;

    .header__toggle {
      mask-image: url('../../images/icon/24x24/common/close.svg'); //бургер меняем на крест
    }

    .addbutton {
      display: none; // верхнюю синюю кнопку убрать
    }
    .navigation {
      padding: 20px;
    }

    .header {
      background-color: $secondary-cultured-default; // при открытии сайдбара шапка серая
    }
  }
}

.sidebar_close {
  height: 100%;

  .navigation__text, // все подписи у кнопок исчезнут
  .addtext {
    @extend %screen-reader;
  }

  .addbutton {
    // синяя прямоугольная кнопка станет круглой и можно настроить плавность перехода
    @include add-button-circle();
    margin-left: 4px;
  }

  .header__logo {
    background-image: url('../../images/icon/side bar/logo.svg'); //логотип без надписи
    width: 38px;
    cursor: $cursor;
  }

  /*  стили вложенного списка при закрытии сайдбара  */

  .navigation__expandButton {
    // Это кнопка рядом с мини-лендингом
    display: none;
  }
  .navigation__list_nested {
    @extend %screen-reader;
  }

  @media (max-width: $switching-width) {
    .navigation {
      display: none; //скрываем весь сайдбар кроме логотипа и бургер-кнопки
    }
    .header__logo {
      background-image: url('../../images/icon/side bar/full-logo.svg'); //логотип c надписью
      width: 128px;
    }
  }
}

.header {
  @include size(100%, 64px);
  position: relative; // Родитель абсолютно-позиционированного(в декстопе) элемента бургер-меню
  display: flex;
  box-sizing: border-box;
  padding-top: 16px;

  @media (max-width: $switching-width) {
    background-color: inherit;
    padding-bottom: 15px;
    padding-left: 20px;
    align-items: flex-end;
  }
}

.header__toggle {
  // бургер-кнопка
  @include size(24px, 24px);
  @include button-style-reset;
  @include position(absolute, 2px, -80px);
  z-index: 1;
  mask-image: url('../../images/icon/24x24/common/menu.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 24px 24px;
  background-color: $secondary-cultured-press;
  flex-shrink: 0;

  @media (max-width: $switching-width) {
    position: static;
    background-color: $primary-oxford-blue-default;
    margin-right: 8px;
  }
}

.header__logo {
  @include size(145px, 34px);
  box-sizing: border-box;
  margin: 0 8px;
  background-image: url('../../images/icon/side bar/full-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;

  @media (max-width: $switching-width) {
    @include size(128px, 30px);
  }
}

.navigation {
  @include flex(column);
}

.addbutton {
  @include flex(row, center, center,);
  height: 46px;
  margin-top: 18px;
  text-decoration: none;
  @include button-style-reset;

  &:hover {
    background-color: $primary-persian-blue-press;
  }
}

.addtext {
  color: $off-white;
  text-transform: uppercase;
  margin: 0;
  opacity: 0;
}

.navigation__list {
  list-style: none;
  margin: 47px 0 20px 0;
  padding: 0;

  @media (max-width: $switching-width) {
    margin-top: 0;
  }
}

.navigation__link {
  @include flex(row, $align-items: center, $gap: 15px);
  @include button-style-reset;
  @include min-size(46px, 46px);
  border-radius: 50px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;

  @include font-nav();

  text-decoration: none;
  color: $primary-oxford-blue-default;
  transition: all 0.3s;

  svg {
    flex-shrink: 0;
    stroke: $secondary-cultured-press;
  }

  &:hover {
    background-color: $secondary-cultured-hover;
  }

  @media (max-width: $switching-width) {
    gap: 23px;
  }
}

.navigation__link_active {
  stroke: $primary-persian-blue-default;
  color: $primary-persian-blue-default;
  &:hover {
    background-color: inherit;
    cursor: default;
  }
}

.navigation__text {
  transition:
    opacity 0.3s,
    width 0.3s;
  margin: 0;
  text-align: start;
  opacity: 0;
}

.addbutton_mobile {
  display: none;
}

@media (max-width: $switching-width) {
  // синяя кнопка внизу у моб.пользователей
  .addbutton_mobile {
    @include flex($align-items: center, $gap: 12px);
    border-top: 1px solid $secondary-cultured-hover;
    padding-top: 20px;
  }
  .addcircle_mobile {
    @include add-button-circle();
  }
  .addtext_mobile {
    @include font-nav();
  }
}

/* ****  Стили для вложенного списка **** */
.nestedList {
  position: relative;
}

.nestedList_close {
  .navigation__expandButton {
    mask-image: url('../../images//icon//20x20/chevron/down.svg'); //Закрываем и стрелка вниз
  }

  .navigation__list_nested {
    @extend %screen-reader;
  }
}

.navigation__expandButton {
  @include button-style-reset;
  @include size(20px, 20px);
  @include position(absolute, 13px, 10px);
  mask-image: url('../../images//icon//20x20/chevron/up.svg'); //Открытый в начале
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $additional-grey-pressed;
}

.navigation__list_nested {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.compact {
  position: absolute;
  overflow: hidden;
  top: 16px;
  left: 16px;
  max-width: 70px;
  margin: 0;

  .sidebar {
    max-height: calc(100vh - 16px*2 - 62px);
    overflow-y: scroll;

    @media (max-width: $switching-width) {
      max-height: unset;
    }
  }

  .header__toggle{
    display: none;
    @media (max-width: $switching-width) {
      display: block;
    }
  }

  @media (max-width: $switching-width) {
    max-width: unset;
    width: 100%;
    top: 0;
    left: 0;
  }
}
