@import '../../app/_vars';

.container {
  display: flex;
  gap: 8px;
  width: fit-content;
  height: 47px;
  background-color: $white-color;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-items: center;
}

.text {
  white-space: nowrap;
}