@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.container {
  @include flex($align-items: center, $gap: 8px);
  @include size(fit-content, 47px);
  @include indents;
  background-color: $off-white;
  box-sizing: border-box;
}

.text {
  @include font('OpenSans', $xxs-font-size, $normal, $primary-oxford-blue-default);
  @include line-sizes($xl-line-height, $m-letter-space);
  margin: 0;
  white-space: nowrap;
}
