@import '../../components/app/vars';

@mixin flexLayout {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.dialog {
  @include flexLayout();
  margin: 32px 0 0;
  padding: 0 32px;
  position: relative;
  width: 656px;
  height: calc(100% - 32px);
  flex-direction: column;
  border-left: 1px $icon-grey-color solid;
  border-right: 1px $icon-grey-color solid;

  @media screen and (max-width: 620px) {
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    width: 100%;
    @include flexLayout();
    flex-direction: column
  }

  &__header {
    @include flexLayout();
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 16px;
    position: relative;

    @media screen and (max-width: 620px) {
      padding: 0 20px 20px;
    }
  }

  &__headerContent {
    @include flexLayout();
    flex-direction: row;
    gap: 16px;

    @media screen and (max-width: 620px) {
      justify-content: space-between;
    }
  }

  &__borderText {
    position: relative;
    @include flexLayout();
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    max-height: 24px;
    color: $default-dark-grey-color;
    background: transparent;
    z-index: 555;

    @media screen and (max-width: 620px) {
      background: $default-grey-color;
      padding: 32px;
    }
  }

  &__borderText::before,
  &__borderText::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    border: .8px $icon-grey-color solid;
    width: 50%;
    transform: translateY(50%);
    z-index: 1;

    @media screen and (max-width: 620px) {
      width: 30%;
    }
  }

  &__borderText::before {
    left: -10%;

    @media screen and (max-width: 620px) {
      left: 65%;
    }
  }

  &__borderText::after {
    right: -10%;

    @media screen and (max-width: 620px) {
      right: 65%;
    }
  }

  &__nameWrapper {
    @include flexLayout();
    gap: 16px;

    @media screen and (max-width: 620px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      gap: 4px;
      padding-bottom: 16px;
    }
  }

  &__iconsWrapper {
    position: relative;
    @include flexLayout();
    justify-content: space-between;
    gap: 6px;
    z-index: 1;
  }

  &__modal {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 555;
  }

  &__avatar {
    width: 40px;
    height: 40px;
  }

  &__status {
    font-size: $xxs-font-size;
    line-height: $xxs-line-height;
    font-weight: $normal;
    color: $default-blue-color;
  }

  &__headerButton {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: $cursor;
  }

  &__messages {
    margin: 32px 0;
    width: 100%;
    @include flexLayout();
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }

    @media screen and (max-width: 620px) {
      margin: 0;
      padding: 0 20px;
      background: $default-grey-color;
    }
  }

  &__messageInput {
    @include flexLayout();
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    @media screen and (max-width: 620px) {
      padding: 16px 20px 0;
    }
  }

  &__headerInputWrapper {
    margin: 0;
    max-width: 183px;
    width: 100%;
  }


  &__inputWrapper {
    max-width: 526px;
    width: 100%;
    min-height: 48px;
  }

  &__submitButton {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: $cursor;
  }
}
