@import '../app/_vars';

.footer {
  // START GRID LAYOUT
  grid-column: 2 / 3;
  grid-row: 3;
  // END GRID LAYOUT

  display: flex;
  flex-direction: column;
  height: 35px;
  box-sizing: border-box;
  padding-top: 15px;
  margin-top: 32px;
  margin-bottom: 15px;
  border-top: 1px solid #d7deea;
  background-color: $white-color;
  margin-right: 40px;

  @media (max-width: $switching-width) {
    grid-column: 1 / 3;
    margin-right: 0;
  }
}

.text {
  font-weight: $normal;
  line-height: $m-line-height;
  white-space: nowrap;
  @media (max-width: $switching-width) {
    margin: 0 auto;
  }
}
