@use '../../../../stylesheets//variables' as *;
@use '../../../../stylesheets/mixins' as *;

.chekboxblocks {
  @include indents(0, 16px auto);
  @include flex(column, false, false, 8px);
  @include font('Open Sans', $xs-font-size, $bold);
  width: 100%;
}

.block {
  width: calc(100% - 2*16px);
  background-color: $secondary-cultured-default;
  margin: auto;
  border-radius: $l-border-radius;
}

.subtitle {
  @include indents(12px 0px 0px 12px, auto);
  font-weight: $bold;
}

.checkboxes {
  @include flex(column, false, false, 12px);
  @include indents(0px 0px 12px, 12px 0);
  width: calc(100% - 2*12px);
}
