@import '../../../app/vars';

.chekboxblocks {
  margin: 16px auto;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: $s-font-size;
  font-weight: $bold;
}

.block {
  width: calc(100% - 2*16px);
  background-color: $default-grey-color;
  margin: auto;
  border-radius: $border-radius-10;
}

.subtitle {
  margin: auto;
  padding: 12px 0px 0px 12px;
  font-weight: $bold;
}

.checkboxes {
  width: calc(100% - 2*12px);
  margin: 12px 0 12px 0;
  display: flex;
  padding: 0px 0px 0px 12px;
  flex-direction: column;
  gap: 12px;
}