@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.select {
  display: flex;
  min-width: 180px;
  gap: 12px;
  flex: 1 1;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: $bold;
  line-height: 19.5px;
  letter-spacing: $m-letter-space;
  border-radius: 50px;
  border: 0;
  background-color: $secondary-cultured-hover;
  padding: 8px;
  cursor: pointer;

  box-sizing: border-box;

  transition: 0.2s linear;

  &:disabled img {
    opacity: 0.5;
  }
}

.select_item {
  &:hover {
    color: $primary-persian-blue-default;
  }
  &:disabled {
    color: $grey-2;
  }
}

.selected {
  color: $primary-persian-blue-default;
  background-color: $blue-disabled;
}

.text {
  font-size: $xs-font-size;
  line-height: 20px;
  margin: 0;
}

.select_upload {
  color: $grey-3;

  &:hover * {
    transition: 0.2s linear;
    fill: $grey-3;
    color: #6392ab;
  }
}

.upload_img * {
  fill: $grey-1;
}

.upload_text {
  font-size: $xs-font-size;
  line-height: 20px;
  margin: 0;
}

.selects {
  width: 100%;
  max-width: 580px;
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;
  padding-right: 4px;
}

.selects_items {
  display: flex;
  padding: 16px 8px 16px 12px;
  gap: 8px;
  flex-wrap: wrap;
  max-height: 146px;
  box-sizing: border-box;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d7deea;
    border-radius: 17px;
  }

  &::-webkit-scrollbar-track {
    margin: 18px 0;
  }
}

.scroll {
  padding: 16px 4px 16px 12px;
}

.selects_button {
  width: 100%;
  background-color: $secondary-cultured-default;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: $bold;
  font-size: $s-font-size;
  line-height: 21px;
  letter-spacing: $m-letter-space;
  gap: 17px;
  border: 0;
  padding: 16px 12px;
  border-radius: $l-border-radius;
  cursor: pointer;

  transition: 0.2s linear;

  &:hover * {
    transition: 0.2s linear;
    fill: $grey-3;
    color: #6392ab;
  }

  &:disabled * {
    fill: $grey-1;
    color: #d7deea;
  }
}

.selects_text {
  margin: 0;
  color: $grey-2;
}

.image {
  max-width: 36px;
  min-width: 36px;
  max-height: 36px;
  min-height: 36px;
  border-radius: 50%;
  position: relative;
}

.image_check {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: #243cbb;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.icon_check {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20%;
  left: 20%;
  * {
    stroke: #fff;
  }
}
