@import '../../components/app/vars';

.container {
  padding: 40px;
  box-sizing: border-box;
  border-radius: $border-radius-30;
}

.heading {
  margin: 0 0 20px;
  padding: 0;
}

.row {
  border: none;
}

.cell {
  border: none;
  padding: 10px 0 10px;
}
