@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;
// @TODO перенести в нужную папку, доделать стили
.wrapper {
  width: fit-content;
  // height: 76px;
  background-color: #f8f9fb;
  text-align: left;
}

.butbox {
  margin-top: 16px;
  margin-bottom: 32px;
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 20px;
}
