@import '../../../components/app/vars';
// @TODO перенести в нужную папку, доделать стили
.wrapper {
  width: fit-content;
  // height: 76px;
  background-color: #f8f9fb;
  text-align: left;
}

.butbox {
  margin-top: 16px;
  margin-bottom: 32px;
  @extend %flex-element-center;
  flex-wrap: wrap;
  gap: 20px;
}
