@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.modal_overlay {
  @include flex();
  @include size(100%, 100%);
  @include position(fixed, 0, $left: 0);
  z-index: 2;
  cursor: $cursor;
  background-color: rgba(0, 0, 0, 0.1);
}
