@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.container {
  @include flex(row, center, center);
  @include size(96px, 40px);
  transition: all 0.1s linear;
  border-radius: $l-border-radius;
  box-shadow: $m-box-shadow;
  background-color: transparent;

  div {
    @include flex(row, center, center);
    height: 40px;
  }

  svg {
    transition: stroke 0.1s linear;
  }
}

.ask_button {
  @include button-style-reset;
  padding-right: 12px;
  border-right: solid 1px $secondary-cultured-hover;

  svg {
    stroke: $primary-persian-blue-default;
  }

  &:hover {
    svg {
      stroke: #435cdb;
    }
  }

  &:active {
    svg {
      stroke: $primary-persian-blue-default;
    }
  }
}

.delete_button {
  @include button-style-reset;
  padding-left: 12px;

  svg {
    stroke: $grey-3;
  }

  &:hover {
    svg {
      stroke: $grey-1;
    }
  }

  &:active {
    svg {
      stroke: $grey-3;
    }
  }
}

.wrapper {
  width: 0;
}

.wrapper_color {
  width: 80px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around !important;
  border-right: solid 1px $constructor-helper-button-delete-line-color;
  padding-right: 6px;
}

@mixin color_button {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.color_button_white {
  @include color_button;
  background-color: #ffffff;
  border: 1px solid #F2F4F8;
  &:hover {
    svg {
      stroke: $grey-1;
    }
  }

  &:active {
    svg {
      stroke: $grey-3;
    }
  }
}
