.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.content {
  position: absolute;
  z-index: 2;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  & * {
    stroke: #060C23;
  }
}
