@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/buttonStyling' as *;

.card {
    @include size(410px, unset);
    @include indents(24px, 0);
    box-sizing: border-box;
    box-shadow: $m-box-shadow;
    background-color: white;
    border-radius: $xxl-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar{
  @include position(relative);
  @include size(88px, 88px);
  @include indents((0 0 12px 0), 0);
}

.editButton{
  @include position(absolute);
  bottom: 10px;
  right: -4px;
}

.more{
  @include indents;
  @include size(24px, 24px);
  @include position(relative);
  background: none;
  border: 0;

  &__Button {
    @include size(24px, 24px);
    // @include position(relative);
    cursor: $cursor;
    border: none;
    cursor: pointer;
    background: none;
    background-image: url('../../images/icon/24x24/common/more.svg');
  }
}

.wrapper{
  display: flex;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 12px;
  padding-top: 12px;
}

.dropdown {
  flex-direction: column;
  gap: 4px;
  width: 175px;
  box-shadow: $l-box-shadow;
  background-color: $off-white;
  border-radius: $l-border-radius;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 2;
}

.button {
  // @include size(100%, 100%);
  height: 32px;
  align-items: center;
  @include indents((0 12px 0 12px), 0);
  @include line-sizes($xl-line-height, 0.02em);
  border-radius: $xs-border-radius;
  transition: all 0.1s linear;
}

.edit {
  @include size(32px, 32px);
  @include small-icon();
  @include white-hovered();
  @include blue-icon();
  border-radius: $border-radius-circle;
}

.submit {
  @include common-submit-btn-color();
}

.cancel {
  @include cancel-btn-color();
}
