@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.message {
  @include flex(row, center, center);
  @include position(relative);
  @include indents(10px, 0);
  // @include max-size(308px, unset);
  @include min-size(unset, 40px);
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;
  box-sizing: border-box;

  &:focus-within {
    border: 1.5px $primary-persian-blue-default solid;
  }
}

.input {
  @include indents();
  @include size(100%, unset);
  @include font('Open-Sans', $s-font-size, $normal, $primary-oxford-blue-default);
  border-radius: $l-border-radius 0 0 $l-border-radius;
  outline: 0;
  border: 0;
  background-color: $secondary-cultured-default;
  line-height: 20px;
  letter-spacing: $m-letter-space;
  text-indent: 25px;
  box-sizing: border-box;

  &::placeholder {
    color: $grey-4;
    background: url('../../../images/icon/20x20/search.svg') no-repeat;
  }

  &:focus::placeholder {
    color: transparent;
    background: none;
  }
}

.message_hidden {
  display: flex;
  gap: 8px;
}


.button {
  @include button-style-reset();
  @include flex(row, center, center);
}

.icon {
  stroke: $grey-1;
}
