@use '../../../../stylesheets/mixins' as *;
@use '../../../../stylesheets/variables' as *;

@mixin container($color) {
  @include flex(row, flex-start, center, 32px);
  @include font('IBM Plex Mono', $m-font-size, $bold, $color);
  @include line-sizes($m-line-height, $l-letter-space);
  @include indents(0, 0);
  width: min-content

  span {
    width: max-content
  }

  @media screen and (max-width: $switching-width) {
    gap: 12px;
  }
}

.container {
  @include container($grey-1);
}

.container_active {
  @include container($primary-oxford-blue-default);
}


