@import '../../components/app/vars';

.signupFormContainer {
  position: relative;
  width: 100%;
  background-color: $active-blue-color;
  border-radius: $border-radius-30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signupBackgroundImage {
  background-image: url('../../images/roboCreate.png');
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 205px;
  aspect-ratio: 1.1;
  z-index: 0;
  @media screen and (max-width: 710px) {
    max-width: 180px;
  }
  @media screen and (max-width: 650px) {
    max-width: 150px;
  }
}

.signupTitle {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 15px;
  font-family: 'IBM Plex Mono', sans-serif;
  text-align: center;
  color: $white-color;
  font-size: $xl-font-size;
  font-weight: $bold;
  line-height: $button-line-height-130;
}

.socialContainer {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.socialMain {
  display: flex;
  gap: 40px;
  padding: 10px;
  background-color: $persian-blue-focus;
  border-radius: $border-radius-30;
}

.socialSecond {
  display: flex;
  gap: 40px;
  padding: 10px;
  background-color: $persian-blue-focus;
  border-radius: $border-radius-30;
}

.signupInputsContainer {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  box-sizing: border-box;
  border-radius: $border-radius-30;
  flex-direction: column;
  align-items: center;
  background-color: $default-blue-color;
}

.signupTitleForm {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  margin-bottom: 45px;
  width: 80px;
  height: 30px;
  border-radius: $border-radius-15;
  background-color: $default-blue-color;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: $white-color;
  font-size: $l-font-size;
  font-weight: $bold;
  line-height: $button-line-height-150;
}

.inputsForm {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 50px;
}

.inputsContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 20px;
  z-index: 1;
}

.inputsPhoneContainer {
  width: 100%;
  max-width: 325px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}


.phoneCodeSelect {
  background-color: $primary-text-color;
  border: none;
  border-radius: 4px;
  min-width: 110px;
  flex-basis: 110px;
  height: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 0;

  & input {
    width: 33px;
    padding: 0;
    margin: 0;
    color: $white-color;
    font-family: 'Open Sans', sans-serif;
    font-size: $m-font-size;
    font-weight: $normal;
    line-height: $button-line-height-150;
    letter-spacing: $m-letter-space;
    border: none;
  }

  & :focus {
    border: none;
  }

  [class*="MuiInputBase-root-MuiOutlinedInput-root"] {
    height: 60px;
    border: none;
    width: 100%;
    flex-direction: row-reverse;
    padding-right: 34px;
    position: relative;
  }

  [class*="MuiOutlinedInput-notchedOutline"] {
    height: 60px;
    border: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  [class*="MuiButtonBase-root-MuiIconButton-root"] {
    background-image: url('../../images/icon/24x24/common/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: left 5px top 18px;
    padding: 0;
    margin: 0;
    z-index: 2;
    justify-content: flex-end;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }


}


.formsButton {
  z-index: 1;
  width: 100%;
  max-width: 260px;
}

.signupReadyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: $white-color;
  font-size: $m-font-size;
  font-weight: $normal;
  line-height: $button-line-height-150;
  margin-bottom: 40px;
  z-index: 1;
}

.signinLink {
  color: $white-color;
  text-decoration-line: underline;
}

