@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.signupFormContainer {
  @include flex(column, center, center);
  position: relative;
  width: 100%;
  background-color: $primary-persian-blue-hover;
  border-radius: $xxl-border-radius;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    border-radius: $xxl-border-radius $xxl-border-radius 0 0;
  }
}

.signupBackgroundImage {
  @include position(absolute, $bottom: 0, $right: 0);
  background-image: url('../../images/roboCreate.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 270px;
  margin-right: -60px;
  aspect-ratio: 1.58;
  z-index: 0;

  @media screen and (max-width: 710px) {
    max-width: 250px;
  }

  @media screen and (max-width: 650px) {
    max-width: 220px;
  }

  @media screen and (max-width: 600px) {
    position: relative;
    margin-right: 0;
    aspect-ratio: 1.58;
    max-width: 230px;
  }
}

.signupTitle {
  @include indents(0, 50px 0 15px);
  @include font('IBM Plex Mono', $xl-font-size, $bold, $off-white);
  @include line-sizes($m-line-height, 0);
  text-align: center;

  @media screen and (max-width: 600px) {
    @include line-sizes($xl-line-height, $l-letter-space);
    margin-top: 25px;
    font-size: $m-font-size;
  }
}

.socialContainer {
  @include flex($gap: 30px);
  margin-bottom: 40px;

  @media screen and (max-width: 600px) {
    gap: 0;
    margin-bottom: 35px;
  }
}

.socialMain {
  @include flex($gap: 40px);
  padding: 10px;
  background-color: $primary-persian-blue-focus;
  border-radius: $xxl-border-radius;

  @media screen and (max-width: 600px) {
    gap: 10px;
    padding: 8px;
  }
}

.signupInputsContainer {
  @include flex(column, $align-items: center);
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  border-radius: $xxl-border-radius;
  background-color: $primary-persian-blue-default;

  @media screen and (max-width: 600px) {
    padding: 0 20px;
    border-radius: $xxl-border-radius $xxl-border-radius 0 0;
  }
}

.signupTitleForm {
  @include indents;
  @include size(80px, 30px);
  @include font('Open Sans', $m-font-size, $bold, $off-white);
  @include line-sizes($xl-line-height, 0);
  margin: -15px 0 45px;
  border-radius: $xl-border-radius;
  background-color: $primary-persian-blue-default;
  text-align: center;

  @media screen and (max-width: 600px) {
    margin-bottom: 25px;
  }
}

.inputsForm {
  @include flex(column, $align-items: center, $gap: 50px);
  margin-bottom: 50px;
  width: 100%;

  @media screen and (max-width: 600px) {
    gap: 40px;
    margin-bottom: 30px;
  }
}

.inputsContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 20px;
  z-index: 1;

  @media screen and (max-width: 600px) {
    @include flex(column, $gap: 20px);
    margin-bottom: 30px;
  }
}

.inputsPhoneContainer {
  width: 100%;
  max-width: 325px;
  display: grid;
  justify-content: center;
  grid-template-columns: 110px 1fr;
  gap: 15px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    max-width: none;
  }
}


.phoneCodeSelect {
  @include size(110px, 60px);
  @include flex(row, center, center);
  background-color: $primary-oxford-blue-default;
  border: none;
  border-radius: 4px;
  flex-direction: row-reverse;
  z-index: 0;

  & input {
    @include indents;
    @include font('Open Sans', $s-font-size, $normal, $off-white);
    @include line-sizes($xl-line-height, $m-letter-space);
    width: 33px;
    border: none;
  }

  & :focus {
    border: none;
  }

  [class*="MuiInputBase-root-MuiOutlinedInput-root"] {
    @include size(100%, 60px);
    border: none;
    flex-direction: row-reverse;
    padding-right: 34px;
    position: relative;
  }

  [class*="MuiOutlinedInput-notchedOutline"] {
    height: 60px;
    border: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  [class*="MuiButtonBase-root-MuiIconButton-root"] {
    @include indents;
    @include size(100%, 100%);
    background-image: url('../../images/icon/24x24/common/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: left 5px top 18px;
    z-index: 2;
    justify-content: flex-end;
    padding-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }


}


.formsButton {
  z-index: 1;
  width: 100%;
  max-width: 260px;
  position: relative;
}

.signupReadyContainer {
  @include flex(row, center, $gap: 10px);
  @include font('Open Sans', $s-font-size, $normal, $off-white);
  @include line-sizes($xl-line-height, $m-letter-space);
  width: 100%;
  margin-bottom: 40px;
  z-index: 1;

  @media screen and (max-width: 600px) {
    margin-bottom: 30px;
  }
}

.signinLink {
  color: $off-white;
  text-decoration-line: underline;
}

.incorrect_text {
  @include incorrect-text(center);
}


[class*="MuiModal-root-MuiPopover-root-MuiMenu-root"] {
  [class*="MuiPaper-root-MuiPopover-paper-MuiMenu-paper"] {
    @include max-size(268px, 245px);
    width: 100%;
    border-radius: 12px;
    position: relative;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    box-sizing: border-box;
    box-shadow: $l-box-shadow;

    @media screen and (max-width: 600px) {
      width: 100%;
      max-width: calc(100% - 40px);
    }

    [class*='scrollbar-horizontal'] {
      opacity: 0;
    }

    [class*='os-theme-dark'] {
      --os-size: 8px;
      margin-right: 4px;

      [class*='os-scrollbar-handle'] {
        background-color: $primary-persian-blue-default;
        max-height: 60px;
      }

      [class*='os-scrollbar-track'] {
        background-color: rgba(red($primary-persian-blue-default), green($primary-persian-blue-default), blue($primary-persian-blue-default), 0.1);
      }
    }

  }


  [class*="MuiList-root-MuiMenu-list"] {
    [class*="Mui-selected"] {
      background-color: rgba(red($primary-persian-blue-default), green($primary-persian-blue-default), blue($primary-persian-blue-default), 0.08);
    }
  }

  .MuiPaper-root {
    top: 580px;
  }

  [class*="MuiButtonBase-root-MuiMenuItem-root"] {
    padding-left: 10px;
    padding-right: 18px;

    [class*="MuiListItemIcon-root"] {
      width: 32px;
      aspect-ratio: 2;

      img {
        width: 32px;
      }
    }
  }

  [class*="MuiListItemText-root"] {
    [class*="MuiTypography-root"] {
      @include font('Open Sans', $s-font-size, $normal, $primary-oxford-blue-default);
      @include line-sizes($xl-line-height, $m-letter-space);
      @include ellipsis;
      max-width: 140px;
    }
  }

  [class*="MuiTypography-root"] {
    @include font('Open Sans', $s-font-size, $bold, $primary-persian-blue-default);
    @include line-sizes($xl-line-height, $m-letter-space);
    max-width: 140px;
  }
}
