@use '../../app/vars';

.label {
  width: 100%;
  max-width: 264px;
  padding: 12px;
  border-radius: 10px;
  background-color: #F8F9FB;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: vars.$h4-font-size;
  font-weight: vars.$semi-bold;
  font-family: inherit;
}
