@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.label {
  @include flex(column, false, false, 12px);
  @include font('Open sans', $xs-font-size, $bold);
  box-sizing: border-box;
  width: 100%;
  max-width: 264px;
  padding: 12px;
  border-radius: $l-border-radius;
  background-color: $secondary-cultured-default;

  @media screen and (max-width: 520px) { //заменить на нужное
    font-size: 7.41px;
    padding: 9px 7px;
    gap: 8px;
  }
}
