@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.dialogs {
  @include size(323px, unset);
  padding-right: 15px;
  margin-top: 32px;
  border-right: 1px $secondary-cultured-press solid;
  box-sizing: border-box;

  &__header {
    padding-bottom: 26px;
  }

  &__line {
    border-top: 0.8px solid $secondary-cultured-press;
  }

  &__messagesContainer {
    padding-top: 32px;
  }

  &__inputWrapper {
    @include indents();
    @include size(100%, unset);
    @include max-size(unset, 40px);
    box-sizing: border-box;
  }
}
