@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.files {
  width: 291px;
  display: grid;
  padding-top: 32px;
  align-items: center;

  grid-template-columns: 226px 65px;
  grid-template-rows: 20px 112px;
  grid-row-gap: 20px;

  @mixin item {
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
    display: flex;
    gap: 8px;
  }

  .itemRow {
    @include item;
  }

  .itemColumn {
    @include item;
    flex-direction: column;
  }
}

.information {
  max-width: 331px;
  display: flex;
  flex-direction: column;
  background-color: $off-white;
  box-sizing: border-box;
  padding-top: 40px;
  align-items: center;
}

@mixin font {
  font-family: 'Open Sans', sans-serif;
  font-weight: $normal;
  font-size: $xs-font-size;
  margin: 0;
  white-space: nowrap;
}

.text {
  @include font;
  color: $grey-3;
  padding-bottom: 32px;
}

.paragraph {
  @include font;
  font-weight: $bold;
}
