@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.container {
  @include indents;
  @include size(100px, 100px);
  box-sizing: border-box;
  border-radius: 10%;
  overflow: hidden;

  img {
    @include size(auto, 100%);
  }
}
