@use '../../stylesheets/mixins' as *;
@use '../../stylesheets/variables' as *;

.layout {
  @include flex(row, center);
  height: calc(100vh - 155px);
  margin-right: 40px;

  @media screen and (max-width: 860px) {
    margin: 0;
    z-index: 666;
  }
}
