@use '../../../../stylesheets//variables' as *;
@use '../../../../stylesheets/mixins' as *;

.content{
  @include flex(column, false, false, 8px);
  padding: 12px 16px 16px;

  @media screen and (max-width: 520px) {
    padding: 12px 9px 9px;
  }
}

.extraClass:first-of-type{
  padding: 12px 12px 8px !important;

  @media screen and (max-width: 520px) {
    padding: 9px 9px 6px !important
  }
}

.extraClass:last-of-type{
  padding: 8px 12px 12px !important;

  @media screen and (max-width: 520px) {
    padding: 6px 9px 9px !important
  }
}

.wrapperInput {
  @include flex(column);
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;

  @media screen and (max-width: 520px) {
    border-radius: 5.7px;
  }
}