.container {
  @include max-size(281px, 48px);
  @include flex(row, flex-start, center);
  @include indents(12px 14px 12px 12px);
  border-radius: $l-border-radius;
  box-sizing: border-box;
}

.text {
  @include size(141px, 23px);
  @include font('IBMPlexMonno', 18px, 600);
  line-height: $m-line-height;
  margin: 0px 52px 0px 16px;
}

.icon {
  @include size(24px, 24px);
  margin: 0;
}
