@use '../../stylesheets/variables' as *;
@use '../../stylesheets/mixins' as *;

.container {
  @include size(281px, 48px);
  @include flex(row, center, center);
  @include indents(12px 14px 12px 12px);
  background-color: $off-white;
  border-radius: $l-border-radius;
  box-sizing: border-box;

  @media screen and (max-width: 520px) {
    width: 255px;
    @include indents(12px 12px 12px 10px);
  }
}

.text {
  @include size(141px, 23px);
  margin: 0px 52px 0px 16px !important;

  @media screen and (max-width: 520px) {
    margin: 0px 36px 0px 12px !important;
  }
}

.icon {
  @include size(24px, 24px);
  margin: 0;
}

.update {
  animation: spin 1s linear infinite;
  justify-self: flex-end;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
