@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.select {
  @include flex($align-items: center, $gap: 12px);
  @include font('Open Sans', $xs-font-size, $bold);
  @include line-sizes($xl-line-height, $m-letter-space);
  min-width: 180px;
  flex: 1 1;
  border-radius: 50px;
  border: 0;
  background-color: $secondary-cultured-hover;
  padding: 8px;
  cursor: $cursor;

  box-sizing: border-box;

  transition: 0.2s linear;

  &:disabled img {
    opacity: 0.5;
  }
}

.select_item {
  &:hover {
    color: $primary-persian-blue-default;
  }
  &:disabled {
    color: $grey-2;
  }
}

.selected {
  color: $primary-persian-blue-default;
  background-color: $blue-disabled;
}

.text {
  color: inherit;
}

.select_upload {
  color: $grey-3;

  &:hover * {
    transition: 0.2s linear;
    fill: $grey-3;
    color: #6392ab;
  }
}

.upload_img * {
  fill: $grey-1;
}

.upload_text {
  color: inherit;
}

.selects {
  width: 100%;
  max-width: 580px;
  background-color: $secondary-cultured-default;
  border-radius: $l-border-radius;
  padding-right: 4px;
}

.selects_items {
  @include flex($gap: 8px);
  padding: 16px 8px 16px 12px;
  flex-wrap: wrap;
  max-height: 146px;
  box-sizing: border-box;
  overflow-y: auto;

  &::-webkit-scrollbar {
    @include size(4px, 8px);
  }

  &::-webkit-scrollbar-thumb {
    background: #d7deea;
    border-radius: 17px;
  }

  &::-webkit-scrollbar-track {
    margin: 18px 0;
  }
}

.scroll {
  padding: 16px 4px 16px 12px;
}

.selects_text {
  margin: 0;
  color: $grey-2;
}

.image {
  @include size(36px, 36px);
  border-radius: $border-radius-circle;
  position: relative;
}

.image_check {
  @include size(100%, 100%);
  @include position(absolute, 0, $left: 0);
  border-radius: $border-radius-circle;
  background-color: #243cbb;
  opacity: 0.5;
}

.icon_check {
  @include size(24px, 24px);
  @include position(absolute, 20%, $left: 20%);
  * {
    stroke: #fff;
  }
}
