@use '../../../stylesheets/mixins' as *;
@use '../../../stylesheets/variables' as *;

.create {
  @include position(relative);
  @include flex(row, flex-start, unset);
  @include size(100%, unset);

  &__sideButton {
    @include position(absolute, -60px, -50px, unset, unset);
    @include button-style-reset();
    @include flex($justify-content: center, $align-items: center);
    @include size(40px, 40px);
    border-radius: 50%;
    box-shadow: -2px 4px 10px 0px #2222220D;
  }

  &__blue {
    @include position(absolute, 0, -60px, unset, unset);
    @include size(100px, 80px);
    @include flex($justify-content: center, $align-items: center);
    background-color: $primary-persian-blue-default;
    border-radius: 64px 0 0 64px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
