@use '../../../stylesheets/variables' as *;
@use '../../../stylesheets/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  max-width: 175px;
  height: 135px;
  background-color: $off-white;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  border-radius: $l-border-radius;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
}

.text {
  font-family: 'OpenSans', sans-serif;
  font-weight: $normal;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0.3px;
  // width: fit-content;
  margin: 0;
  white-space: nowrap;
  color: #2E293D;
}
